html, body {
	width: 100%;
	min-width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#avail {
	overflow: hidden;
}

#tab {
	border-collapse: collapse;
	height: 80%;
}

#tab td {
	border: 1px dotted gray;
	width: 100px;
	height: 100px;
}

#tab td.heading {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
}

.field {
	width: 100px;
	height: 100px;
	/*border: 1px solid blue;*/
	font-size: 10px;
	box-shadow: inset 0 0 5px blue;
	background-color: AliceBlue;
	opacity: 0.7;
}

.field div {
	max-width: 100px;
	overflow: hidden;
}

.hover-state {
	background-color: AquaMarine;
}

.ui-resizable-se {
	width: 30px;
	height: 30px;
}

textarea {
	font-size: 10px !important;
}

#info {
	color: darkgreen;
}