div.cmDiv
{
	/*border: 1px solid black;*/
	/*background: -webkit-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
	background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);*/
	background: #f1f1f1;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	font-family: "Segoe UI";
	border-bottom: 1px solid darkgray;
}
.clickMenu
{
	margin: 0;
	padding: 0;
	cursor: default;
}
.clickMenu, .clickMenu ul
{
	list-style: none;
}
.clickMenu ul
{
	background-color: #FCFCFC;
	border: 1px solid gray;
	margin: 0;
	min-width: 100px;
	padding: 1px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	margin-top: 1px;
	border-radius: 3px;
	
	//float: left;/*ie again*/
	//width: 100%;/*and again*/
}
.clickMenu div.outerbox
{
	display: none;
	min-width: 106px; /* firefox produces animation-flickering when the box is bigger than this :/ */
}
.clickMenu div.inner
{
	//top: 20px; /* for ie */
	left: 0;
	margin: 0;
	margin-left: -1px;
}
.clickMenu div.inner div.outerbox
{
	margin: 0;
	left: 98px;
	//left: 90px; /* for ie */
	top: -3px;
}
.clickMenu li
{
	position: relative;
	padding: 0 20px 0 2px;
	/*white-space: nowrap; does not really work in ie */
}
.clickMenu li.main
{
	float: left;
	padding: 0 10px;
	border: 1px solid transparent;
	border-radius: 3px;
	margin-right: 2px;
	/*background-color: #eee;*/
	//height: 20px; /* for ie */
}
.clickMenu li.main li
{
	padding: 1px 9px;
	z-index: 2;
	min-width: 78px;
	white-space: nowrap;
	border-radius: 3px;
}
.clickMenu li.hover
{
	z-index: 1 !important; /* the hover z-index has to be below the normal one the hovering items may be drawn over a submenu */
	border-color: #3399FF;
	background-color: #C2E0FF;
	/*background-color: #aaa;*/
}
.clickMenu img.liArrow
{
	position: absolute;
	right: 5px;
	top: 0.41em;
}
.clickMenu a
{
	text-decoration: none;
	color: black;
	cursor: default;
}

ul.innerBox li {
	border: 1px solid transparent;
}

ul.innerBox li:hover {
	border-color: #3399FF;
	background-color: #C2E0FF;
}

.clickMenu li.main li.sep {
	background: none repeat scroll 0 0 darkgray;
	height: 1px;
	margin-left: 1px;
	padding-bottom: 0;
	padding-right: 0;
	padding-top: 0;
	border: none;
	margin-top: 2px;
	margin-bottom: 2px;
}

/* thats for the shadowbox */
html>body div.outerbox
{
	padding: 0 5px 5px 0;
}
html>body div.shadowbox1
{
	position: absolute;
	right: 0;
	bottom: 5px;
	width: 5px;
	height: 100%;
}
html>body div.shadowbox2
{
	position: absolute;
	bottom: 0;
	right: 5px;
	height: 5px;
	width: 100%;
}
html>body div.shadowbox3
{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 5px;
	width: 5px;
}
html>body .innerbox
{
	margin: 0;
	display: inherit;
}

.dsb-menu-checkbox {
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: block;
	float: left;
	height: 10px;
	margin-left: -5px;
	margin-right: 5px;
	margin-top: 5px;
	width: 10px;
}

.dsb-menu-checkbox-unchecked {
	visibility: hidden;
}

.dsb-menu-checkbox-disabled {
	
}

.dsb-menu-item-disabled {
	opacity: 0.5;
}

.dsb-menu-item-disabled:hover {
	background: #FCFCFC !important;
	border-color: transparent: !important;
}
.clickMenu li[itemchecked=false] .dsb-menu-checkbox {
	visibility: hidden;
}

.dsb-menu-item-shortcut {
	color: #666666;
	float: right;
	margin-top: -20px;
	text-align: right;
}

.clickMenu li.expandable:after {
	content: '\25b8';
	font-size: 24px;
	float: right;
	margin-top: -3px;
	margin-bottom: -3px;
	margin-right: -5px;
}