.dwr-group-border-left {
	margin-left: -3px;
    padding-left: 4px !important;
}

.dwr-group-border-top {
    margin-top: -3px;
    padding-top: 9px !important;
}

.dwr-group-border-right {
    margin-right: -3px;
    padding-right: 4px !important;
}

.dwr-group-border-bottom {
    margin-bottom: -3px;
    padding-bottom: 9px !important;
}

.dwr-group-border-left-invisible {
	margin-left: -4px;
    padding-left: 6px !important;
}

.dwr-group-border-top-invisible {
	/* margin-top: -4px;
	padding-top: 9px !important; */
}

.dwr-group-border-bottom-invisible {
	/* margin-bottom: -5px;
	padding-bottom: 10px !important; */
}

.dwr-group-border-right-invisible {
	margin-right: -4px;
    padding-right: 4px !important;
}

form.dwr fieldset.dwrColumn div.dwr-disabled-highest-contrast input,
form.dwr fieldset.dwrColumn div.dwr-disabled-highest-contrast select,
form.dwr fieldset.dwrColumn div.dwr-disabled-highest-contrast textarea,
.dwr-popup div.dwr-disabled-highest-contrast input,
.dwr-popup div.dwr-disabled-highest-contrast select,
.dwr-popup div.dwr-disabled-highest-contrast textarea {
	opacity: 1 !important;
	filter: none !important;
	background: #f7f7f7 !important;	
}

form.dwr fieldset.dwrColumn div.dwr-disabled-highest-contrast select {
	background: white !important;
}

form.dwr fieldset.dwrColumn div.dwr-disabled-highest-contrast select option {
	background: white !important;
}