.ADDopacity {opacity: 0.80;}

/* dla nowego layoutu */
html, body {
    height: 100%; background-position: 0 40px;; background: white}
a, a:hover, a:visited {margin: 0px; padding: 0px; border: 0px none; text-decoration: none; color: #232323;}

/* przeniesione tutaj, zeby sie szybciej wczytywalo */
#barNew td a.upperMenuLinkNew {
	display: block;
	float: left;
	background-image: url(../../../../web/img/tab_right.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
	height: 25px;
	vertical-align: middle;
	text-align: center;
	line-height: 25px;
	color: white;
	text-decoration: none;
	padding-right: 20px;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: normal;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	visibility: hidden;
	overflow: hidden;
	position:relative;
	white-space: nowrap;

	background-color: #644390;
	/*text-shadow: 1px 1px 1px #b3b3b3;*/
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);

	/*background-color: green;*/
}

#barNew td a.upperMenuLinkNewPushed {
	background-image: url(../../../../web/img/tab_right_pushed.gif);
	color: #644390;
	font-weight: bold;
	overflow: hidden;
	position:relative;
	text-shadow: none;
	_background-image: url(../../../../web/img/tab_right_pushedIE6.gif);

}

#barNew td a.upperMenuLinkNewHover {
	background-image: url(../../../../web/img/tab_right_pushed.gif);
	color: #644390 !important;
	overflow: hidden;
	position:relative;
	text-shadow: none;
	_background-image: url(../../../../web/img/tab_right_pushedIE6.gif);
}

/*Poczďż˝tek starych klas*/
	ul {margin-left: 0px; padding-left: 15px;}
	th, h4 {text-align: left; font: bold 12px/13px Verdana, Geneva, Arial, Helvetica, sans-serif; padding-right: 10px;}
	table.search td {text-align: center; vertical-align: top; padding: 0px; font: normal 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	table.search td.s, table.search th.s {width: 18px; padding:0px; background-repeat: repeat-y; background-position: center center;}
	/* zamiast pionowa_linia.gif */
	table.search td.ns, table.search th.ns {width: 9px; margin-left: 8px; border-left: 1px solid #644390; }
	input.txt_ro, select.sel_ro {border: 1px solid White; background: #A5967C; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 10pt;}
	select.sel_opt, select.multi_sel_opt, input.txt_opt {border: 1px solid White; background: #A5967C; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 10pt;}
	input.btn, button.btn {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0px 0px 3px gray;  -moz-box-shadow: 0px 0px 3px gray; -webkit-box-shadow: 0px 0px 3px gray; font-family: arial; color: #333333; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0px 0px 3px gray;  -webkit-box-shadow: 0px 0px 3px gray; font-family: arial; color: #333333; background: url(../../../../web/img/btn_back.gif) repeat-x; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bbb)); background-image: -moz-linear-gradient(top, white, #bbb); border: 1px solid #696969; margin-right: 2px; margin-top: 2px; font-family: tahoma; text-shadow: 0px 1px 0 rgba(255,255,255,0.5); -moz-transition: all 200ms ease; box-shadow: 0 0 3px #bbb, 0 0 3px white inset; -webkit-transition: all 200ms ease; -webkit-box-shadow: 0 0 3px #bbb, 0 0 3px white inset; *background: url(../../../../web/img/btn_back.gif) repeat-x}
	input.btnHover, input.btn:hover, button.btn:hover {background: url(../../../../web/img/btn_back.gif) repeat-x; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#aaa)); background-image: -moz-linear-gradient(top, white, #aaa); border: 1px solid #333333; color: #333; box-shadow: 0 0 3px gray, inset 0 0 2px gray; -webkit-box-shadow: 0 0 3px gray, inset 0 0 2px gray}
	/*input.btn:focus {border-color: #644390;}*/
	input.btn:active, input.btnActive, button.btn:active {background: url(../../../../web/img/btn_back_pushed.gif) repeat-x; background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#aaa)); background: -moz-linear-gradient(bottom, white, #aaa);}
	input.cancel_btn {background:#BCB09D; border: 1px ridge White; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 10pt;}
	.bar {color: #D6CFC4; text-decoration: none; font: normal 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	.lbar {color: #D6CFC4; text-decoration: none; font: normal 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	#bar {color: #D6CFC4; background-color: black; text-align: center; font: bold 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	#barNew {color: #D6CFC4; background-color: black; text-align: center; font: bold 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	#bar a:hover {color: #644390}
	#menu tr, td {}
	span.backup {font-style: italic;}
/*	.mai {vertical-align: top;}*/
	.mai {vertical-align: top; padding: 0px;}
	.mai td, .mai p	{font: normal 12px/20px Arial, Verdana, Geneva, Helvetica, sans-serif;}
	.mai a {outline: none; color: #232323; text-decoration: none; font: bold 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif; text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5);}
	.mai a.empty{color:gray;}
	.mai a.deleted{color:gray; text-decoration: line-through;}
	.mai a:hover {color: #644390; text-decoration: none; font: bold 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	.mai a:active {outline: none; text-shadow: none; color: #658425;}
	.mai a.bigger, #mainTable a.bigger, table.spaceTable a.bigger {/*color: black;*/ text-decoration: none; font: bold 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif; }
	.mai a.active-link, .mai a.active-link:hover {color:white; background-color: #644390; text-decoration: none; font: bold 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-shadow: 1px 1px 1px rgba(0,0,0,.5); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 3px;}
	.mai a.thin {color: #232323; text-decoration: none; font: normal 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	.mai a.thin:hover {color: #232323; text-decoration: underline; font: normal 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	a.tree {text-shadow: none; color: black;  text-decoration: none; vertical-align: middle; font: bold 12px/15px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	.tree {line-height:100% !important;}
	.tree a{line-height:100% !important; text-shadow: none;}
	.tree a:active-link {text-shadow: none;}
	.tree img{line-height:100% !important;}
	.tree input{height: 0.85em;}
	a.tree:hover {text-shadow: none; color: #644390;  text-decoration: none; vertical-align: middle; font: bold 12px/15px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	a.tree_target {text-shadow: none;color: #658425 !important;  text-decoration: none; vertical-align: middle; font: bold 12px/15px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	a.tree_target:hover {text-shadow: none;color:red; text-decoration:none; vertical-align:middle; font:bold 12px/15px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	img.tree {vertical-align:middle;}
	.star, .warning, .error {color:crimson;}
	td.popup-header {background-color:black; color:#D6CFC4; font:normal 12px/16px Tahoma, Arial, Helvetica, sans-serif;}
	td.popup-header a {background-color:black; color:#D6CFC4; font:bold 12px/16px Tahoma, Arial, Helvetica, sans-serif;text-decoration: none;}
		.inline_flags {display: inline; text-align: center; white-space: nowrap; }
	a.barLink {color: #FFFFFF}
	a.barLink:hover {color: #FF0000}
/*Koniec starych klas*/

body {margin: 0px; padding: 0px; border: 0px none; text-align: left; color: #232323; text-decoration: none; font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif; }
img {margin: 0px; padding: 0px; border: 0px none; }

/*h1 {font: bold 22px/26px Verdana, Geneva, Arial, Helvetica, sans-serif; margin-bottom: 0px}*/
/*h1 {font: bold 22px Arial; margin-bottom: 5px; margin-top: 3px; margin-left: 17px; color: #658425;}*/
h1 {font: bold 22px Arial; margin-bottom: 8px; margin-top: 8px; margin-left: 17px;}
hr {text-align: left; margin-left: 0px; display: none;}

/* Poczatek definicji glownych klas layoutu*/
	.NEWmain {min-height: 100%; margin: 0px; padding: 0px; border: 0px none; text-align: left; color: black; text-decoration: none; font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	.NEWtopBar {height: 64px; clear: both; text-align: center; vertical-align: middle;}
	.NEWbottomBar {height: 30px; clear: both; line-height: 30px; padding-left: 15px;}
	.NEWtopPanel {height: 17px; clear: both;}
	.NEWbottomPanel {height: 20px; clear: both; line-height: 20px; font-weight: bold; color: #FFFFFF; background: #000000}
	.NEWpasswordTime {height: 17px; clear: both; line-height: 17px; padding-left: 15px;}
	.NEWcontent {}
	.NEWleftPanel {width: 190px; position: absolute;}
	.NEWrightContent {margin-top: 10px; margin-right: 0px; margin-bottom: 10px; border-left: 1px solid black; padding-left: 10px;}
	.NEWlogin {margin: 20px auto; text-align: center;}
	.NEWpasswordRecovery {margin: 20px auto; text-align: center;}
/* Koniec definicji glownych klas layoutu*/

/* Poczatek definicji klas gornego paska*/
	.NEWlogoLeft {height: 64px; float: left; text-align: left; font-size: 0px;}
	.NEWlogoRight {height: 64px; float: right; text-align: right; font-size: 0px;}
	.NEWversion {color: red; font-size: 26pt;}
	.NEWtopBar img {height: 64px;}
	.NEWtopBar a, .NEWtopBar a:hover, .NEWtopBar a:visited {font-size: 0px; text-decoration: none;}
/* Koniec definicji klas gornego paska*/

/* Poczatek definicji klas gornego panelu*/
	.NEWlogout {float: right; margin-right: 5px;}

	.NEWtopPanelMainMenu {list-style-type: none; margin: 0px; padding: 0px;}

	.NEWtopPanelMainMenu ul {position: absolute; top: -999em; width: 13em; list-style-type: disc; background: #2B5576; color: white; font-family: Tahoma, Verdana, Helvetica, Sans-serif; font-size: 12px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: bold; line-height: normal; text-decoration: none}
	.NEWtopPanelMainMenuLi {float: left; position: relative; margin-left: 15px;}
	.NEWtopPanelMainMenu li:hover {visibility: inherit;}

	.NEWtopPanelMainMenu ul li {width: 100%; margin-left: 5px;}

	.NEWtopPanelMainMenu li:hover ul, .NEWtopPanelMainMenu li.sfMenuHover ul {left: 0; top: 1em; z-index: 99;}
	.NEWtopPanelMainMenu li:hover, .NEWtopPanelMainMenu li.sfMenuHover, .NEWtopPanelMainMenu li li:hover, .NEWtopPanelMainMenu li li.sfMenuHover, .NEWtopPanelMainMenu li li li:hover, .NEWtopPanelMainMenu li li li.sfMenuHover, .sfMenuHover {z-index: 99;}
/* Koniec definicji klas gornego panelu*/

/* Poczatek definicji klas lewego panelu*/
	.NEWleftPanel ul, .NEWleftPanel li {margin: 0px; padding: 0px;}
	.NEWleftPanel {line-height: 20px; font-weight: bold; }
	.NEWleftPanelMenu {width: 190px;}
	.NEWleftPanelMenuFixed {position: fixed; top: 15px;}
	.NEWleftPanelMenuFixedIE {position: absolute; top: expression(body.scrollTop -81 + "px")}
	.NEWleftPanelMenuBottom {position: absolute; bottom: 0px;}
	.NEWleftPanel ul {list-style: disc;}
	.NEWleftPanel li {margin-left: 30px; }
	.NEWleftPanel a {color: #000000;}
	.NEWleftPanel a:hover {color: #FF0000;}
	.NEWleftPanelLine {margin: 10px 0px 0px 15px; width: 150px; color: #000000;}
	.NEWleftPanelMaximized {left: 0px;}
	.NEWleftPanelMinimized {left: -190px;}
/* Koniec definicji klas lewego panelu*/

/* Poczatek definicji klas prawej czesci*/
	.aNEWmenuButton {position: fixed; top: 50%; left: 190px;}
	.NEWmenuButton {float: right;}
	.NEWmenuButtonMinimized {left: 0px}
	.NEWmaximizeButton {position: relative; left: 8px;}
	.NEWminimizeButton {position: relative; left: 1px;}
	.NEWhiddenButton {display: none;}
	.NEWrightContentMaximized {margin-left: 190px;}
	.NEWrightContentMinimized {margin-left: 0px;}
.NEWrightContentInner td, .mai p	{font:normal 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.NEWrightContentInner a 				{color:black; 	text-decoration:none; 		font:bold 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.NEWrightContentInner a:hover 		{color:red; 	text-decoration:none; 		font:bold 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.NEWrightContentInner a.bigger 		{color:black; 	text-decoration:none; 		font:bold 13px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.NEWrightContentInner a.active-link 	{color:red; 	text-decoration:none; 		font:normal 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.NEWrightContentInner a.thin 			{color:black; 	text-decoration:none; 		font:normal 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.NEWrightContentInner a.thin:hover 	{color:black; 	text-decoration:underline; 	font:normal 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
	.NEWtitle {}
	.NEWhorizontalLine {}
	.NEWcontentPanel {}
	.NEWcontent {}
/* Koniec definicji klas prawej czesci*/

/* Poczatek definicji klas dolnego panelu*/
	.NEWloggedUser {float: left; text-align: left; padding-left: 15px;}
	.NEWcopyrightNotice {float: right; text-align: right; padding-right: 15px;}
	.NEWsecondCopyrightNotice {margin-left: 10px;}
	.NEWbottomPanel a {color: #FFFFFF;}
	.NEWbottomPanel a:hover {color: #FF0000;}
/* Koniec definicji klas dolnego panelu*/

/* Poczatek definicji klas dolnego paska*/
/* Koniec definicji klas dolnego paska*/

/* Poczatek definicji klas ogďż˝u*/
	.header1 {}
	.fullLine {width: 98%;}
	.shortLine {width: 50%; margin-top: 10px;}
	.select {}
	.marginBottom2 {margin-bottom: 2px;}
	.marginLeft10 {margin-left: 10px;}
	.marginsLeftRightAuto {margin-left: auto; margin-right: auto;}
	.marginRight {margin-right: 20px;}
	.tableMargin {margin-left: -3px;}
	.table100p {width: 100%;}
	.italic {font-style: italic;}
	.italicFlags {background-image: url(../../../../web/img/flags_arrow.gif); padding-right: 20px; background-repeat: no-repeat; background-position: right; margin-right: 20px;}
	.bold {font-weight: bold; }
	.alignRight {text-align: right;}
	.alignLeft {text-align: left;}
	.alignCenter {text-align: center;}
	.alignTop {vertical-align: top;}
	.alignMiddle {vertical-align: middle;}
	.floatRight {float: right;}
	.floatLeft {float: left;}
	.clearBoth {clear: both;}
	.clearLeft {clear: left;}
	.continuousElement {display: inline; white-space: nowrap;}
	.line25p {line-height: 25px;}
	.readOnly {color: #696969;}
	.img24 {width: 24px; height: 24px;}
	.img17 {width: 17px; height: 17px;}
	.img11 {width: 11px; height: 11px;}
	.clearList {list-style-type: none}
	.noMarginPadding {margin: 0px; padding: 0px;}
	.hidden {display: none;}
	.highlightedRed {background-color: #FF0000;}
	.borderBlack1 {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #888888; background-color: #FFFBC4;}
/* Koniec definicji klas ogďż˝u*/

/* Poczďż˝tek definicji klas menu flag*/
	.floatingDiv {opacity: 0.9; filter: alpha(opacity=90); background-color: #658425; position: absolute;
	padding: 5px 10px 5px 5px; border: 1px solid black; cursor: default; z-index: 100; overflow: hidden; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: 3px 3px 12px gray;-moz-box-shadow: 3px 3px 12px gray;-webkit-box-shadow: 3px 3px 12px gray; color: white;	}
	.floatingMenu li:hover {background-color: #644390; cursor: default; color: white;}
		.floatingMenuHover {background-color: #644390; cursor: default; color: white;} /*IE 6 hover fix*/
	.listTofloatingMenu li {border: 1px solid transparent; *border: 0px solid white; padding-left: 2px; padding-right: 2px; *padding: 0px;}
	.listTofloatingMenu li:hover {background-color: #644390; cursor: default; color: white; border: 1px solid transparent; *border: 0px solid white; border-radius: 5px;  -moz-border-radius: 5px; -webkit-border-radius: 5px;}
		.listTofloatingMenuHover {background-color: #644390; cursor: default; color: white;} /*IE 6 hiver fix*/
/* Koniec definicji klas menu flag*/

/* Poczďż˝tek definicji klas wielopoziomowego menu etykiet*/
	.sf-menu, .sf-menu * {list-style-type: none; margin: 0px; padding: 0px; line-height: 1.5em;}

	.sf-menu ul {position: absolute; top: -999em; width: 10em;}
	.sf-menu li {float: left; position: relative; padding: 0px 5px 0 px 3px;}
	.sf-menu li:hover {visibility: inherit;}

	.sf-menu li {background: #BCB09D/*#2B5576*/ none repeat scroll 0 0;}
	.sf-menu li li {background: #BCB09D/*#2B5576*/ none repeat scroll 0 0;}
	.sf-menu li li li {background: #BCB09D/*#2B5576*/ none repeat scroll 0 0;}

	.list-opacity {opacity: 0.95; filter: alpha(opacity=95);}

	.sf-menu ul, .sf-menu ul ul {border: 1px solid black;}

	.sf-menu ul li {width: 100%;}

	.sf-menu li:hover ul,		.sf-menu li.sfHover ul	 {left: 0; top: 1em; z-index: 89;}
	.sf-menu li:hover li ul,	.sf-menu li.sfHover li ul	 {top: -999em;}
	.sf-menu li li:hover ul,	.sf-menu li li.sfHover ul	 {left: 10em; top: 0; z-index: 89;}
	.sf-menu li li:hover li ul,	.sf-menu li li.sfHover li ul	 {top: -999em;}
	.sf-menu li li li:hover ul,	.sf-menu li li li.sfHover ul	 {left: 10em; top: 0; z-index: 89;}

	.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu li li:hover, .sf-menu li li.sfHover, .sf-menu li li li:hover, .sf-menu li li li.sfHover, .sfHover
	{background: #D8D8D8 none repeat scroll 0 0; z-index: 89; color: /*#2B5576*/}
/* Koniec definicji klas wielopoziomowego menu etykiet*/

/* Poczďż˝tek definicji klas listy w menu*/
	/*IE fix*/ .round_1, .round_2, .round_3, .round_4, .round_top, .round_bottom {font-size: 0px; line-height: 0px;}
	.round_1, .round_2, .round_3 {height: 1px;}
	.round_4 {height: 2px;}

	.round_bottom .round_1 {border-top: 1px solid black;}
	.round_top .round_1 {border-bottom: 1px solid black;}

	.round_2 {border-left: 2px solid black; border-right: 2px solid black;}
	.round_3, .round_4, .round_content {border-left: 1px solid black; border-right: 1px solid black;}

	.round_1 {margin: 0px 5px;}
	.round_2 {margin: 0px 3px;}
	.round_3 {margin: 0px 2px;}
	.round_4 {margin: 0px 1px;}

	.round_content {padding: 0px 5px;}

	.inMenuLabels {width: 160px; margin: 20px 0px 0px 15px; font-weight: normal;}

	.selected {font-weight: bold; background-color: #F5F5FF;}
	.inMenuLabels li:hover, .inMenuLabelsTemplate li:hover, .inMenuLabelsHover {background-color: #45A6E5; color: black;}

	.inMenuLabelsContentImg {float: right; margin-top: 4px;}
	.inMenuLabelsContentImg:hover {background-color: #FF0000;}

	.listUpFast {position: relative; right: -7px;}
	.listDownFast {position: relative; left: -7px;}
/* Koniec definicji klas listy w menu*/

/* Poczďż˝tek definicji klas uwag w viewserverze*/
	.viewserverRemarks {position: absolute; background-color: white; overflow: hidden; z-index: 1000; margin-left: 3px;}
	.viewserverRemarks iframe, iframe.hideIE {display: none; display: block; position: absolute; top: 0px; left: 0px; z-index: -1; filter:mask(); width:3000px;  height:3000px; }
/* Koniec definicji klas uwag w viewserverze*/


/*.select-free {position: relative; z-index:10;/*any value/ /*overflow:hidden;must have/ width:33em;/*must have for any value/; }
.select-free iframe { display:none;/*sorry for IE5/ display/*/:block;/*sorry for IE5/ position:absolute;/*must have/ top:0;/*must have/ left:0;/*must have/ z-index:-1;/*must have/ filter:mask();/*must have/ width:3000px;/*must have for any big value/ height:3000px/*must have for any big value/; }
*/


.test-div {display: none;}
.NEWactualLink {color: red !important;}

.topLeft {
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}

.topRight {
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

.bottomLeft {
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.bottomRight{
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

table.marginLeft {margin-left: 20px;}
table.search th {color: #658425; padding:0px; text-align:center; vertical-align:top; font:bold 12px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;}
hr.subtitle {width:77%; text-align:left; color: #658425; height:1px;}
.title {color: #658425; font:normal 17px Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight:bold;}
input.txt {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: url(../../../../web/img/input_back.gif) repeat-x; padding: 2px 0; text-indent: 5px; *text-indent: 0; background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#f5f5f5));  background: -moz-linear-gradient(top, #eee, #f5f5f5); border: 1px solid #777; color: #333333; -moz-transition: all 200ms ease; -webkit-transition: all 200ms ease; outline: none; *background: url(../../../../web/img/input_back.gif) repeat-x;}
input.txt[disabled] { opacity: 0.5; filter: alpha(opacity=50); }
input.txt[readonly], input.txt[readonly]:focus { background: #EEEEEE; color: #555555; }
input.btn[disabled], button.btn[disabled] { opacity: 0.5; filter: alpha(opacity=50); }
input.txtHover, input.txt:focus {background: url(../../../../web/img/input_back_active.gif) repeat-x; background: -webkit-gradient(linear, left top, left bottom, from(#faf16a), to(#fffbc4)); background: -moz-linear-gradient(top, #FAF16A, #FFFBC4); border: 1px solid #444; box-shadow: 0 0 5px gray; -webkit-box-shadow: 0 0 5px gray;}
input.txt:hover {border-color: #111;;}
input.error { background: crimson; border-color: crimson; color: white;}
select.sel {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid gray; outline: none; -webkit-appearance: none; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 1px 0; font-family: arial; color: #333333; background: url(../../../../web/img/btn_back.gif) repeat-x; background:url(../../../../web/img/select_arrow.gif) no-repeat top right, -webkit-gradient(linear, left top, left bottom, from(white), to(#bbb)); background-image: -moz-linear-gradient(top, white, #bbb); border: 1px solid #696969;text-shadow: 0px 1px 0 rgba(255,255,255,0.5); -moz-transition: all 200ms ease; box-shadow: 0 0 3px #bbb, 0 0 3px white inset; -webkit-box-shadow: 0 0 3px #bbb, 0 0 3px white inset; -webkit-transition: border, -webkit-box-shadow 200ms ease;}
/* webkit hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
     select.sel { padding-right: 15px; }
}
select.sel:hover {background: url(../../../../web/img/btn_back.gif) repeat-x; background: url(../../../../web/img/select_arrow.gif) no-repeat top right, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#aaa)); background-image: -moz-linear-gradient(top, white, #aaa); border: 1px solid #333333; color: #333; box-shadow: 0 0 3px gray, inset 0 0 2px gray; -webkit-box-shadow: 0 0 3px gray, inset 0 0 2px gray}
select.sel:active, select.sel:focus {background: url(../../../../web/img/btn_back_pushed.gif) repeat-x; background: url(../../../../web/img/select_arrow.gif) no-repeat bottom right, -webkit-gradient(linear, left bottom, left top, from(#fff), to(#aaa)); background: -moz-linear-gradient(bottom, white, #aaa); }
select.multi_sel {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid gray; background-color: #d5d5d5;}
select.sel option, select.multi_sel option {box-shadow: 0px 0px 6px rgba(255,255,255,.5) inset; -moz-box-shadow: inset 0px 0px 6px rgba(255,255,255,.5); -webkit-box-shadow: inset 0px 0px 6px rgba(255,255,255,.5); border-left: 3px solid rgba(0, 0, 0, 0.5); border-right: 3px solid rgba(0, 0, 0, 0.5); background-color: #EEEEEE; display: block;}
textarea.txt, textarea.txt_opt {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; outline: none; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #FFFAC0 url(../../../../web/img/input_back.gif) repeat-x; padding: 2px 0; text-indent: 5px; *text-indent: 0; background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#f5f5f5));  background: -moz-linear-gradient(top, #eee, #f5f5f5); border: 1px solid #777; color: #333333; -moz-transition: all 200ms ease; -webkit-transition: all 200ms ease; outline: none; *background: #f5f5f5 url(../../../../web/img/input_back.gif) repeat-x}
textarea.txtHover, textarea.txt:focus {background: url(../../../../web/img/input_back_active.gif) repeat-x; background: -webkit-gradient(linear, left top, left bottom, from(#faf16a), to(#fffbc4)); background: -moz-linear-gradient(top, #FAF16A, #FFFBC4); border: 1px solid #444; box-shadow: 0 0 5px gray; -webkit-box-shadow: 0 0 5px gray}
textarea.txt:hover {border-color: #111}
select.txtHover {border-color: #111;}

#logo {font-size:0px; border:0; background: white;}
#logo td {background: white;}
#logo { ;}
#logo td#logoLeft { background-image: url(../../../../web/img/bannerLeftImage.gif); ; }
#logo td#logoRight { background-image: url(../../../../web/img/bannerRightImage.gif); ; }
.tableheder { background-color: %taskListBarColor%; }
.lbar {background: white;}
.oddRows {background-color: #F5F5FF;}
/*.oddRows {background-color: #fffbc4;}*/
.highlightedRows {color:#FFFFFF; background-color: #45A6E5; }
.highlightedRows a {color: black; }
.highlightedRows a:visited {color: black; }
.highlightedRows td a {color: black; }
h1 {color: #644390 !important; text-shadow: 1px 1px 1px rgba(0,0,0,.5); }
h2, h3, h4 {/*text-shadow: 1px 1px 1px rgba(0,0,0,.5);*/}
a.highlightedText {color: #658425 !important;}
.highlightedText {color: #658425 !important;}
.horizontalLine {border:0; background-color: #2B5576; color: #2B5576;}
										/**/.remarksTable {background-color: #D5D5D5; border: 1px solid #999999; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.remarksTableBottom {
	border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0;
}

.remarksTableUp {
	border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px;
	border-top: none;
}
.upperBar {background-color: #644390 !important; box-shadow: -5px 0px 5px gray; -moz-box-shadow: -5px 0px 5px gray; -webkit-box-shadow: -5px 0px 5px gray;}
.upperBarNew {background-color: #644390; height: 30px !important; overflow: hidden; position: relative; }
a.upperMenuLink {display: block; color: white; font-family: Tahoma, Verdana, Helvetica, Sans-serif; font-size: 12px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: bold; line-height: normal; text-decoration: none}
a.upperMenuLink:visited {display: block; color: white; font-family: Tahoma, Verdana, Helvetica, Sans-serif; font-size: 12px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: bold; line-height: normal; text-decoration: none}
a.upperMenuLink:hover {color: white; background-color: #658425; font-family: Tahoma, Verdana, Helvetica, Sans-serif; font-size: 12px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: bold; line-height: normal; text-decoration: none}


#to tr:hover, .toHover {background-color: #45A6E5; color: black;}


.NEWmain {background: #FFFFFF;}
.NEWtopBar {background: url(../../../../web/img/topBarBackground.gif);}
.NEWtopPanel {background: #2B5576;}
a.NEWtopPanelLink {color: white; font-family: Tahoma, Verdana, Helvetica, Sans-serif; font-size: 12px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: bold; line-height: normal; text-decoration: none}
a.NEWtopPanelLink:visited {color: white; font-family: Tahoma, Verdana, Helvetica, Sans-serif; font-size: 12px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: bold; line-height: normal; text-decoration: none}
a.NEWtopPanelLink:hover {color: red; font-family: Tahoma, Verdana, Helvetica, Sans-serif; font-size: 12px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: bold; line-height: normal; text-decoration: none}
.NEWbottomPanel {background: #000000; color: #FFFFFF}
.NEWbottomPanel a {color: #FFFFFF}
.NEWbottomBar {background: #45A6E5; color: #D6CFC4;}
.highlightedColor {color: #2B5576 !important;}
/*.listImg {background-color: #FFFFFF;}
*/

/* Gmenu */

#filterByButton {
	display: block;
	float: left;
	/*min-width: 110px !important;*/
	width: 110px !important;
	width: 125px;
	z-index: 1;
}

#filterBtn {
	width: 61px !important;
	width: 59px;
	margin-left: 5px !important;
	margin-left: 2px;
	margin-right: 1px;
}

#deleteBtn {
	width: 83px;
}

#selectActionButton {
	display: block;
	float: left;
	/*min-width: 110px !important;*/
	width: 185px !important;
	width: 205px;
	z-index: 1;
}

#gmenu_container {
	position: absolute;
	left: 100px;
	top: 100px;
	z-index: 100;
	visibility: hidden;
	background-color: white;

	border: 1px solid #C0C0C0;
	box-shadow: 2px 2px 2px gray;
	-moz-box-shadow: 2px 2px 2px gray;
	-webkit-box-shadow: 2px 2px 2px gray;
}

div.gmenuButton {
	background-image: url(../../../../web/img/btn_back.gif);
	border: 1px solid #C0C0C0;
	height: 20px;
	min-height: 20px;
	height: auto !important;
	cursor: default;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 20px;
	font-family: Tahoma;
	font-size: 13px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 3px gray;
	-moz-box-shadow: 0px 0px 3px gray;
	-webkit-box-shadow: 0px 0px 3px gray;
}

div.gmenuButtonOver {
	/*background-image: url(../../../../web/img/btn_back.gif);*/
	border: 1px solid #888888;
	height: 20px;
	cursor: default;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 20px;
	font-family: Tahoma;
	font-size: 13px;
	background: url(../../../../web/img/btn_back.gif) repeat-x; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#aaa)); background-image: -moz-linear-gradient(top, white, #aaa); border: 1px solid #333333; color: #333; box-shadow: 0 0 3px gray, inset 0 0 2px gray; -webkit-box-shadow: 0 0 3px gray, inset 0 0 2px gray;
}

div.gmenuButtonPushed {
	background-image: %gmenuBtnBackPushed%;
	border: 1px solid #C0C0C0;
	height: 20px;
	cursor: default;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 20px;
	font-family: Tahoma;
	font-size: 13px;
	/*color: white;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: url(../../../../web/img/btn_back_pushed.gif) repeat-x; background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#aaa)); background: -moz-linear-gradient(bottom, white, #aaa);
}

div.over {
	border: 1px solid #888888;
	background-image: %gmenuBtnBackPushed%;
	height: 20px;
	cursor: default;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 20px;
	font-family: Tahoma;
	font-size: 13px;
}

img.arrow {
	float: right;
	display: inline;
	margin-top: 7px;
	width: 8px;
	height: 8px;
}

table.filter {
	font-family: Tahoma;
	font-size: 13px;
	padding: 2px;
	margin: 0;
	/*min-width: 130px;*/
}

tr.filter {
	vertical-align: middle;
}

td.filter_left {
	background-color: #C0C0C0;
	min-width: 3px !important;
	width: 1px;		/* for ie */
	padding-left: 0px;
}

td.filter_left:hover {
	background-color: #C0C0C0;
}

td.filter {
	padding-left: 4px;
	line-height: 15px;
	font-size: 9px;
}

td.over {
	/*background-color: #fffbc4;*/
	background-color: #45A6E5;
	color: black;
	cursor: default;
	padding-left: 4px;
	line-height: 15px;
	font-size: 9px;
}

input.filter {
	border: #C0C0C0 1px solid;
	margin-right: 2px;
	margin-top: 2px !important;
	background-image: url(../../../../web/img/zoom_ico.gif);
	background-repeat: no-repeat;
	background-position: center right;
	background-color: #d5d5d5;
	padding-right: 17px;
	font-size: 9px;
}

b.found {
	font-weight: bolder;
}

input.gtxt {
	display: block;
	float: left;
	height: 16px;
	border: #C0C0C0 1px solid;
	margin-left: 5px;
	max-width: 118px !important;
	width: 118px;	/* for ie */
	margin-right: 0px !important;
	padding-top: 3px;
	background-color: #d5d5d5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

/*input.gtxt:hover {
	background-color: #fffbc4;
}*/

input.gtxtOver {
	background-color: #fffbc4;
}

input.gbtn {
	background-image: url(../../../../web/img/btn_back.gif);
	border: 1px solid gray;
	min-height: 20px;
	cursor: default;
	text-align: left;
	padding-left: 10px !important;
	padding-left: 5px;
	padding-right: 10px !important;
	padding-right: 4px;
	/*line-height: 20px;*/
	line-height: 14px; /* dla ff = 20px */
	font-family: Tahoma;
	padding-top: 2px;
	font-size: 13px;
	margin-left: 2px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 3px gray;
	-moz-box-shadow: 0px 0px 3px gray;
	-webkit-box-shadow: 0px 0px 3px gray;
	min-height /*\**/: 17px\9; /* IE8 hack */
}

input.gbtnOver {
	border: 1px solid #888888;
	background-image: url(../../../../web/img/btn_back_hover.gif);
	color: white;
	background: url(../../../../web/img/btn_back.gif) repeat-x; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#aaa)); background-image: -moz-linear-gradient(top, white, #aaa); border: 1px solid #333333; color: #333; box-shadow: 0 0 3px gray, inset 0 0 2px gray; -webkit-box-shadow: 0 0 3px gray, inset 0 0 2px gray;
}

/*input.gbtn:hover {
	border: 1px solid #888888;
	background-image: %gmenuBtnBackPushed%;
	color: white;
}*/

span.gquestCounter {
	margin-left: 10px;
	position: absolute;
}

/* footer trick */
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -54px;
}

.footer {
    height: 50px;
	 width: 100%;
	 /*background-color: yellow;*/
}

.push {
	 height: 50px;
	 width: 100%;
}

img.tab_img {
	display: block;
	float: left;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #644390;
}

.all_border {
	background-color: #644390;
}

.main_top {
	/*background-color: yellow;*/
	display: block;
	float: left;
	width: 100%;
}

ul.left {
	display: block;
	float: right;
	text-align: left;

	width: 100%;
	list-style: none;
}

.left_ie_fix {
	color: #644390 !important;
	font-size: 12px !important;
	font-family: Tahoma !important;
	font-weight: normal !important;
	height: 20px;
	padding-bottom: -30px;
	vertical-align: middle;
	background-color: white;
	background-image: url(../../../../web/img/left_rounded.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: left;
	padding-left: 10px !important;
	width: 120px;

	_background-image: url(../../../../web/img/left_roundedIE6.gif);
}

.left_ie_fixHover {
	color: white !important;
	width: 120px;
}

.left_ie_fixSelected {
	color: white !important;
	font-weight: bold !important;
	width: 130px !important;
}

.left_ie_fixSelectedHover {
	width: 120px !important;
}

ul.left a {
	color: #644390;
	display: block;
	font-size: 12px;
	font-family: Tahoma;
	font-weight: 400;
	line-height: 20px;
	min-height: 21px;
	vertical-align: middle;
	margin-left: 10px;
	padding-left: 20px;
	text-shadow: none;
}

ul.left a:link {
	color: #644390;
	display: block;
	font-size: 12px;
	font-family: Tahoma;
	font-weight: 400;
	line-height: 20px;
	min-height: 21px;
	vertical-align: middle;
	margin-left: 10px;
	padding-left: 20px;
	text-shadow: none;
}

ul.left a:visited {
	color: #644390;
	display: block;
	font-size: 12px;
	font-family: Tahoma;
	font-weight: 400;
	line-height: 20px;
	min-height: 21px;
	vertical-align: middle;
	margin-left: 10px;
	padding-left: 20px;
	text-shadow: none;
}

ul.left a:active {
	color: #644390;
	display: block;
	font-size: 12px;
	font-family: Tahoma;
	font-weight: 400;
	line-height: 20px;
	min-height: 21px;
	vertical-align: middle;
	margin-left: 10px;
	padding-left: 20px;
	text-shadow: none;
}

ul.left a:hover {
	color: white;
	font-size: 12px;
	font-family: Tahoma;
	font-weight: normal;
	*padding-right: 10px;
	padding-left: 20px;
	height: 20px;
	vertical-align: middle;
	background-color: #644390;
	background-image: url(../../../../web/img/left_rounded.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;

	_background-image: url(../../../../web/img/left_roundedIE6.gif);
}

ul.left a.left_selected {
	color: white;
	font-size: 12px;
	font-family: Tahoma;
	/*font-weight: bold;*/
	padding-left: 20px;
	height: 20px;
	vertical-align: middle;
	background-color: #644390;
	background-image: url(../../../../web/img/left_rounded.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;

	_background-image: url(../../../../web/img/left_roundedIE6.gif);
}

ul.left a.left_selected:hover {
	color: white;
	font-size: 12px;
	font-family: Tahoma;
	/*font-weight: bold;*/
	padding-left: 20px;
	height: 20px;
	vertical-align: middle;
	background-color: #644390;
	background-image: url(../../../../web/img/left_rounded.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;

	_background-image: url(../../../../web/img/left_roundedIE6.gif);
}

ul.left a.left_logout {
	color: #DC143C !important;
}

ul.left a.left_logout:hover {
	color: White !important;
	background-color: #DC143C;
}

.mai2 {
	border-left: 3px solid #644390;
	border-bottom: 3px solid #644390;
	padding-left: 10px;
	height: auto;
	padding-bottom: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

td.mai2 {
	height: 600px;
}

#logout_top {
	position: absolute;
	float: right;
	width: 100px;
	height: 25px;
	top: 95px;
	left: 0px;
	background-image: url(../../../../web/img/power_off.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: #644390;
	text-align: right;
	color: white;
	font-size: 11px;
	margin-top: -1px;
	margin-right: -1px;
	z-index: 100;
	visibility: hidden;

	*margin-top: 1px;

	_background-image: url(../../../../web/img/power_offIE6.gif);
}

#logout_top a {
	display: block;
	float: right;
	font-size: 11px;
	text-align: left;
	color: white;
	font-weight: normal;
	text-decoration: none;
	background-image: url(../../../../web/img/padlock_mini.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 24px;
	margin-right: 7px;
	line-height: 23px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

#logout_top a:hover {
	text-decoration: none;
	color: #DC143C;
	background-image: url(../../../../web/img/padlock_mini_red.gif);
	text-shadow: none;
}

#middleMenuContainer img.tab2_img {
	display: block;
	float: left;
	border: 0;
	margin: 0;
	padding: 0;
	/*background-color: #ffc439;*/
	background-color: #658425;
}

#middleMenuContainer {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	/*background-color: #ffc439;*/
	background-color: #658425;
	margin-bottom: 10px !important;
	margin-bottom: -23px;
	%middleBarNewProp%
}

div#middleMenuContainer.middleMenuContainerEmpty {
	margin-bottom: 0 !important;
}

#middleMenuContainer a.middleMenuLink {
	display: block;
	float: left;
	background-image: url(../../../../web/img/tab2_right.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-color: #658425
	height: 25px;
	vertical-align: middle;
	text-align: center;
	line-height: 25px;

	text-decoration: none;
	padding-right: 20px;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	margin-left: 0px;
	margin-right: 0px;

	padding-top: 5px;
	/*color: #658425;*/
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	display:block;
}

#middleMenuContainer a.middleMenuLinkHover {
	display: block;
	float: left;
	background-image: url(../../../../web/img/tab2_right_pushed.gif);
	/*text-decoration: underline;*/
	/*color: #644390;*/
	color: #658425;
	/*background-color: #ffc439;*/
	background-color: #658425;
	text-shadow: none;

	_background-image: url(../../../../web/img/tab2_right_pushedIE6.gif);
}

#middleMenuContainer a.middleMenuLinkSelected {
	font-weight: 600;
	text-shadow: none;
}

#middleContainer {
	/*border: 2px solid #658425;*/
	border-width: 2px;
	border-style: solid;
	border-color: #658425;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 40px;
	/*margin-bottom: -7px;*/
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomRight: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#middleContainer table:first-child {
	/*background-color: yellow;*/
	/*margin-top: 30px;*/
}

table.mediumTable caption {
	font-size: 16px;
	line-height: 30px;
	color: #644390;
}

#mainTable td, table.spaceTable, table.mediumTable td {
	padding: 2px;
	vertical-align: middle;
	%mainTableTd%;
}

table.widePadding td {
	padding: 2px 10px;
}

table.mediumTable {
	border-collapse: collapse;
}

#mainTable td a, table.spaceTable td a, table.mediumTable td a {
	font-weight: normal;
	text-shadow: none;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 2px 1px;

	%mainTableTdA%;
}

table.mediumTable td a.imgView {
	float: left;
	margin-right: 6px;
	*margin-top: -20px;
}

#mainTable td a:hover, table.spaceTable td a:hover {
	color: white;
	background-color: #644390;
	text-decoration: underline;

	%mainTableTdAHover%;
}

table.mediumTable td a:hover {
	color: white;
	background-color: #644390;
	text-decoration: none;

	%mainTableTdAHover%;
}

table.mediumTable td a:hover {
	font-weight: normal;
	padding: 2px 1px;
}


table.mediumTable td a font.symbol {
	font-family: wingdings;
	font-size: 18px;
	position: relative;
	top: 2px;
	margin: 3px;
}

table.mediumTable td a:hover font.symbol {
	text-decoration: none;
}

table.mediumTable img.zoomImg {
	border: none;
}

table.mediumTable img.zoomImg:hover {
	border: none;
	background: none;
}

table.mediumTable tr:nth-child(odd) {
	background-color: #F5F5FF;
}

#mainTable tr.hover, table.spaceTable tr.hover {
	background-color: #644390;
	color: white;
}

#mainTable tr.hover a, table.spaceTable tr.hover a {
	color: white;
}


#mainTable th, table.spaceTable th, table.mediumTable th {
	color: #644390;
	border-bottom: 2px solid #644390;
	padding: 10px 8px;
	font-weight: normal;
	font-size: 14px;
	vertical-align: middle;
	cursor: default;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	white-space: nowrap;
	%mainTableTh%;
}

#mainTable th a img {
	visibility: hidden;
	_visibility: visible;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin: -3px 2px 0 2px;
	%mainTableThAImg%;
}

#mainTable th a img[src$='red.gif'] {
	visibility: visible;
}

#mainTable th a img[src$='red.gif']:hover {
	box-shadow: 0 0 5px orange;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px orange;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 5px orange;
	-moz-border-radius: 5px;
}

#mainTable th a img[src$='lista.gif']:hover {
	box-shadow: 0 0 5px DodgerBlue;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px DodgerBlue;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 5px DodgerBlue;
	-moz-border-radius: 5px;
}

#mainTable th:hover {
	background-color: #F5F5FF;
	box-shadow: 0 4px 5px -3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 4px 5px -3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 4px 5px -3px rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 white;
	%mainTableThHover%;
}

#mainTable th.empty:hover {
	background-color: white;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#mainTable th:hover a img {
	visibility: visible;
}

#mainTable tr.selectBtns {
	padding-left: 20px;
}


#mainTable td a.mainTableDrag {
	background-color: #644390;
	/*padding: 5px;
	border: 1px solid white;*/
	opacity: 0.7;
	filter: alpha(opacity=70);
	zoom: 1;
}

a.tiny, a.tiny:hover, a.tiny:active {
	font-size: 11px;
}

#footer {
	display: block;
	float: left;
	width: 100%;

	box-shadow: -5px -2px 5px gray;
	-moz-box-shadow: -5px -2px 5px gray;
	-webkit-box-shadow: -5px -2px 5px gray;
}

tr.footer_top {
	color: white;
}

tr.footer_top td {
	color: white;
	font-weight: normal;
	background-color: #644390;
}

tr.footer_top td a {
	padding-right: 20px;
	color: white;
	font-weight: normal;
	text-decoration: none;
	background-image: url(../../../../web/img/footer_arrow.gif);
	background-position: 0px 1px;
	background-repeat: no-repeat;
	padding-left: 18px;
}

tr.footer_top td a:hover {
	padding-right: 20px;
	color: #658425 !important;
	font-weight: normal;
	padding-left: 18px;
}

tr.footer_bottom {
	background-color: white;
	color: #658425;
	text-align: left;
	font-weight: normal;
}

span.checkbox {
	min-width: 19px;
	min-height: 25px;
	width: 20px;
	height: 25px;

	padding-top: 3px;
	padding-right: 5px !important;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 19px;

	background-image: url(../../../../web/img/checkbox.gif);
	background-repeat: no-repeat;

	cursor: default;
}

span.checkboxDisabled {
	min-width: 19px;
	min-height: 25px;
	width: 20px;
	height: 25px;

	padding-top: 3px;
	padding-right: 5px !important;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 19px;

	background-image: url(../../../../web/img/checkbox_disabled.gif);
	background-repeat: no-repeat;

	cursor: default;
}

span.checked {
	background-position: 0px -50px;
}


/* Potrzebne do wyswietlania ikonek jQueryUI */
.ui-icon { width: 16px; height: 16px; background-image: url(../../../../web/img/ui-icons_222222_256x240.gif); }
.ui-widget-content .ui-icon {background-image: url(../../../../web/img/ui-icons_222222_256x240.gif); }
.ui-widget-header .ui-icon {background-image: url(../../../../web/img/ui-icons_222222_256x240.gif); }
.ui-state-default .ui-icon { background-image: url(../../../../web/img/ui-icons_888888_256x240.gif); }
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(../../../../web/img/ui-bg_glass_75_e6e6e6_1x400.gif) 50% 50% repeat-x; font-weight: normal; color: #555555; }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../../../../web/img/ui-icons_454545_256x240.gif); }
.ui-state-active .ui-icon {background-image: url(../../../../web/img/ui-icons_454545_256x240.gif); }
.ui-state-highlight .ui-icon {background-image: url(../../../../web/img/ui-icons_2e83ff_256x240.gif); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(../../../../web/img/ui-icons_cd0a0a_256x240.gif); }
.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(../../../../web/img/ui-bg_highlight-soft_75_cccccc_1x100.gif) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(../../../../web/img/ui-bg_flat_75_ffffff_40x100.gif) 50% 50% repeat-x; color: #222222; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999; background: url(../../../../web/img/ui-bg_glass_75_dadada_1x400.gif) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fcefa1; background: #fbf9ee url(../../../../web/img/ui-bg_glass_55_fbf9ee_1x400.gif) 50% 50% repeat-x; color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(../../../../web/img/ui-bg_glass_95_fef1ec_1x400.gif) 50% 50% repeat-x; color: #cd0a0a; }
.ui-widget-overlay { background: #aaaaaa url(../../../../web/img/ui-bg_flat_0_aaaaaa_40x100.gif) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(../../../../web/img/ui-bg_flat_0_aaaaaa_40x100.gif) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
/*.ui-autocomplete-loading { background: url(../../../../web/img/ui-anim_basic_16x16.gif) right center no-repeat; }*/

/* ORG
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_888888_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cd0a0a_256x240.png); }
*/

#userLabelsButton {
	display: block;
	float: left;

	width: 110px !important;
	width: 125px;
	z-index: 1;
}

#commonLabelsButton {
	display: block;
	float: left;

	width: 96px !important;
	width: 100px;
	margin-left: 5px;
	z-index: 1;
}

#systemLabelsButton {
	display: block;
	float: left;

	width: 127px !important;
	width: 125px;
	margin-left: 5px;
	z-index: 1;
}

#LabelsButton {
	display: block;
	float: left;

	width: 127px !important;
	width: 125px;
	margin-left: 5px;
	z-index: 1;

}

#showMore {
	float: left;
	width: auto;
	margin-bottom: 5px;
	padding-left: 16px;
	background-image: url(../../../../web/img/dot_blue.gif);
	background-repeat: repeat-y;
	background-position: 4px 10px;
	overflow: hidden;
}

div.bigTableBottomSpacer {
	height: 5px;
	line-height: 1%; /* dla ie */
}

#gmenuBottomImg {
	background-image: url(../../../../web/img/find.gif);
}

#spacerDiv {
	display: block;
	float: left;
	line-height: 10px;
	width: 1px;
	height: 20px;

	/*background-color: yellow;*/
}

tr.hiddenValue{
	color:gray;
}

tr.hiddenValue td a{
	color:gray;
}

table.tab {
	border: 1px solid #644390;
	border-collapse: collapse;
	margin-top: 5px;
	margin-bottom: 5px;
}

table.tab td {
	border: 1px dotted #644390;
	padding: 2px 8px 2px 8px;
}

.tabHover {
	background-color: #644390;
	cursor: default;
	color: white;
}

table.tab th {
	border-right: 1px dotted #644390;
	border-bottom: 1px solid #644390;
	padding: 2px 8px 2px 8px;
	height: 25px;
	font-weight: bold;
	background-color: #FFFBC4;
}

table.tab th.disabled, table.tab td.disabled {
	display: none;
}


/* poprawa wyswietlania w ie6, bo selecty zakrywaja flagi */

.iframeMask
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:-10px;/*must have*/
	left:-10px;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
	border: 1px solid black;
}

/* ikonki przy flagach */
#plus, #minus {
	position: relative; top: 3px;
}


/* viewserver */
#outerDiv {
			border: 1px solid black;
			overflow: hidden;
			background-color: #BCB09D;
		}

#innerDiv {
	position: relative;
	left: 0px;
	top: 0px;
}

/* viewserver2 */
#imageDiv {
	display: block;
	float: left;
	border: 2px solid #d5d5d5;

	background-color: gray;
	/*padding: 2px;*/
	overflow: hidden;
	z-index: 100;
}

#imageInnerDiv {
	position: relative;
	margin: 0;
	padding: 0;

	overflow: hidden;
	/*border: 1px solid blue;*/
}

#imageDiv img {
	display: block;
	float: left;
	padding: 0;
	border: 0;
	margin:0;
}

#zoomWindow {
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 100px;

	border: 1px solid black;
	background-color: blue;
	display: none;
	z-index: 150;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

#busDiv {
	display: block;
	float: left;
	/*max-width: 500px;
	width: 500px;*/
}

#gmenu_shadow {
	position: absolute;
	left: 200px;
	top: 200px;
	width: 100px;
	height: 100px;
	z-index: 99;
	visibility: hidden;
	background-color: gray;
	opacity: 0.5;
	filter: alpha(opacity=50);
	/*background: url(../../../../web/img/shadow.gif) no-repeat bottom right;*/
}

td.login {
	text-align: center;
}

#promptDiv {
	position: absolute;
	left: 0px;
	top: 0px;

	border: #C0C0C0 1px solid;
	background-color: #D5D5D5;
	z-index: 1000;
	box-shadow: 2px 2px 2px gray;
	-moz-box-shadow: 2px 2px 2px gray;
	-webkit-box-shadow: 2px 2px 2px gray;
}

span.promptNoResult {
	padding-left: 5px;
	padding-right: 5px;
	color: #A31129;
	font-style: italic;
}

table.prompt {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	cursor: default;
	/**/
}

table.prompt tr {
	padding-left: 5px;
	padding-right: 5px;
	cursor: default;
}

table.prompt tr:first-child {
	font-weight: bold;
}

table.prompt tr.selected {
	background-color: #FFFBC4;
}


table.prompt tr td {
	border-left: #C0C0C0 1px solid;
	padding-left: 7px;
	padding-right: 7px;
	white-space: nowrap;
	cursor: default;
}

#recipientTab {
	margin-right: 100px;
	float: right;
}

#otherTab {
	display: inline;
	float: left;
}

td.remark_content {
	border: 1px solid #D4D0C8;
	background-color: #FFFBC4;
	padding: 2px;
}

tr.remark_header {
	background-color: #D4D0C8;
}

tr.remark_header td {
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
}

#flags_and_remarks {
	/*background-color: yellow;*/
	float: left;
	width: 50%;
}

#flags_container {
	/*background-color: green !important;*/
	display: table;
	float: left;
	width: 50%;
}

#remarkInput {
	/*background-color: #F9963F;*/
	/*display: none;*/
}

#newRemarkContainer {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.7;
	filter: alpha(opacity=80);
	z-index: 100;
}

#newRemarkContainer  textarea {
	overflow: auto;
}

span.newRemark {
	font-weight: bold;
	background-image: url(../../../../web/img/plus2.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding-left: 20px;
	cursor: default;
	display: block;
	*margin-top: -20px;
}

span.newRemarkSave {
	background-image: url(../../../../web/img/save.gif);
}

span.newRemarkWait {
	font-weight: bold;
	font-style: italic;
	background-image: url(../../../../web/img/ajax_loader.gif) ;
	background-color: #D5D5D5;
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding-left: 20px;
	cursor: default;
	display: block;
}

span.newRemark:hover {
	background-color: #644390;
	color: white;
}

#newRemarkClose {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 16px;
	height: 16px;
	z-index: 100;
}


/* postep procesu */
fieldset.procParam {
	margin-bottom: 20px;
	border: 1px solid #8993B3;
	display: inline;
	clear: left;
	float: left;
	color: #8993B3;
	margin-left: 10px;
	margin-top: 10px;
}

table.procParam {
	text-align: center;
	border-collapse: collapse;
	color: #CACFDB;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
}

table.procParam tr td {
	width: 100px;
}

table.procParam tr td img {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
}

table.procParam tr.circle {
	height: 16px;
}

table.procParam tr.desc td {
	vertical-align: top;
	padding-top: 10px;
	font-weight: bold;
}

td.green {
	color: #006E20;
}

td.orange {
	color: #E47608;
}

td.red {
	color: #A31129;
}


div.procSpacerShort {
	float: left;
	zoom: 1;
	font-size: 1px;
	width: 42px;
	height: 8px;
	margin-top: 0px !important;
	margin-top: -12px;

	border-bottom: 1px dotted #8993B3;
}

div.procSpacerHidden {
	border-bottom: 0px solid black;
}

span.taskListMarkerAlert {
	width: 16px;
	height: 16px;
	background-image: url(../../../../web/img/alert.gif);
	background-repeat: no-repeat;
	font-size: 16px;
	float: left;
	display: block;
}

#busTable fieldset {
	margin: 0;
	padding: 0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

}

#busTable fieldset legend {
	font-weight: bold;
	cursor: pointer;
	color: #644390;
	padding-right: 16px;
	background-image: url(../../../../web/img/strzalka2-gora-lista.gif);
	background-position: right;
	background-repeat: no-repeat;
}

#busTable fieldset legend.downArrow {
	background-image: url(../../../../web/img/strzalka2-dol-lista.gif);
}

div.legendFix {
	font-weight: bold;
	height: 0px;
	overflow: hidden;
	color: white;
	/*border: 1px solid red;*/
}

#formTable {
	border: 1px solid gray;
}

table.leftAlign {
	/*margin-top: 20px;*/
	margin-bottom: 10px;
	text-align: right;
}

table.oneLine {
	margin-top: 0px;
	margin-bottom: 0px;
}

img.save, img.search, img.cancel {
	position: relative;
	display: inline;
	left: 20px;
	top: 0px;

	width: 16px;
	height: 16px;
}

table.menuLeft {
	height: expression(document.getElementById('leftCell').offsetHeight - 10);
}
/*
 * Gwiazdka okresla wyswietlanie dla ie6/ie7
 */
div.container {
	display: inline;
	float: left;
	/*clear: both;*/
	/*border: 1px dotted gray;*/
	min-width: 30px;
	min-height: 30px;
	/*margin: 3px;
	padding: 3px 8px 3px 6px;*/

	background-color: #FFFFFF;
}

div.part {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}

/*
div.part:first-child {
	background-color: #644390;
	color: white;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	cursor: default;
}
*/

div.part span.partHeader {
	/*padding-left: 10px;*/
	/*cursor: default;*/
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

/*
div.part:hover {
	background-color: #644390;
	color: white;
	cursor: move;
}
*/

div.part span.label, div.part span.content {
	padding: 2px 2px 2px 5px;
}

div.part input.btn {
	margin: 5px;
}

span.label {
	display: block;
	float: left;
}

span.content {
	display: block;
	float: left;
}

div.part span input.btn {
	float: left;
}

a.clearFieldsIco {
	position: relative;
	top: 3px;
	*top: 0px;
}

.group {
	display: block;
	float: left;
	clear:both;
	/*border: 1px solid #644390;*/
	background-color: white;
	width: 100%;
	margin: 3px 0px 3px 0px;
	/*-moz-box-shadow: 0px 0px 3px gray;
	-webkit-box-shadow: 0px 0px 3px gray;*/
}


.placeholder {
	background-color: #F5F5FF;
}

form img.zoomImg {
	width: 18px;
	height: 18px;
	border: 1px solid transparent;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	/* better display - only in ie6 */
	-ms-interpolation-mode: bicubic;
}

form img.zoomImg:hover {
	/*width: 32px;
	height: 32px;
	margin: -7px;*/

	/* ie7 fix */
	/*z-index: 100;
	position: relative;*/

	border: 1px solid #658425;
	background-color: #658425;
}


input.zoomImg {
	width: 24px;
	height: 24px;

	/* better display - only in ie6 */
	-ms-interpolation-mode: bicubic;
}

/* dla iepngfix*/
span.zoomImg {
	cursor: hand;
}

span.zoomDisabled {
	cursor: default;
}

input.zoomImg:hover {
	width: 32px;
	height: 32px;
	margin: -5px;

	/* ie7 fix */
	z-index: 100;
	position: relative;
}

input.zoomDisabled:hover {
	width: 24px;
	height: 24px;
	margin: 0;
	cursor: default;

	/* better display - only in ie6 */
	-ms-interpolation-mode: bicubic;
}

img.zoomImgTree {
	width: 16px;
	height: 16px;

	margin: -2px 0 -2px 0;

	/* better display - only in ie6 */
	-ms-interpolation-mode: bicubic;
}

img.zoomImgTree:hover {
	width: 22px;
	height: 22px;

	margin: -5px -3px -5px -3px;

	/* ie7 fix */
	z-index: 100;
	position: relative;
	*top: 5px;
	*margin-top: -10px;
}

#tabs_container {
	float: none;
}

img.unlockIco {
	cursor: pointer;
	display: block;
	float: left;
}

img.unlockAllIco {
	cursor: pointer;
	display: block;
	float: right;
	margin-top: -30px;
}

#unlockAllDiv {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	background-color: yellow;
}

input.blocked, select.blocked {

	opacity: 1.0 !important;
}

td.historyAuthor {
	font-weight: bold;
	padding-top: 10px;
}

td.historyDate {
	font-style: italic;
	padding-top: 10px;
}

td.historyContent {
	border: 1px solid #D4D0C8;
	background-color: #FFFBC4;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	padding: 3px 5px 5px 5px;
	visibility: visible;
}

td.historyContent pre{
	white-space: pre-wrap;
}

table.attachTable {
	padding-bottom: 10px;
}

#exploreDocumentsToolbar, #editOrgToolbar {
	border: 1px solid #D4D0C8;
	background-color: #FFFBC4;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 10px;
	padding-bottom: 3px;
	*padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

#exploreDocumentsToolbar td, #editOrgToolbar td {
	width: 40px;
	height: 40px;
	vertical-align: bottom;
	*vertical-align: middle;
}

div#middleMenuContainer + p + ul.msgList {
	background: #FFFBC4;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#FFFBC4));
	background: -moz-linear-gradient(top, white, #FFFBC4);

	border-left: 2px solid #658425;
	border-right: 2px solid #658425;
	margin-bottom: 0px;
	padding-bottom: 10px;
	font-style: italic;
	padding-left: 30px;
	list-style: none;

	*margin-bottom: -20px;
	*padding-top: 10px;
	*padding-bottom: 0;
}

a.msgListClose {
	display: none;
}

div#middleMenuContainer + p + ul.msgList > li {
	*padding-bottom: 10px;
}

div#middleMenuContainer + p + ul.msgList > li > a.msgListClose {
	background-color: #658425;
	float: right;
	display: block;
	margin-right: 10px;
	margin-top: 5px;

	*margin-top: -30px;
}

div#middleMenuContainer + p + ul.msgList > li > a.msgListClose > img {
	display: block;
}

div#middleMenuContainer + p + ul.msgList > li > a.msgListClose:hover {
	background-color: crimson;
}

a.msgListClose:hover {
	background-color: crimson;
}

#errorList li {
	color: #DC143C;
	font-size: 1.1em;
	font-weight: bolder;
}

#messageList li {
	font-size: 1.1em;
	font-weight: bolder;
}

table.summaryTable {
	border: 1px solid rgb(212, 208, 200);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #FFFBC4;
	border: 1px solid #D4D0C8;
	padding-left: 5px;
	padding-right: 5px;

	width: 100%;
	visibility: visible;
}

div.dsTooltip {
	position:absolute;
	z-index: 1000;
	border: 1px solid black;
	background: #FEC327;
	opacity: 0.8;
	filter: alpha(opacity=80);
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 2px 2px 4px rgba(0,0,0,.3);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.3);

	display: none;
}

div.boxoverHeader {
	border: 1px solid black;
	border-bottom: none;
	background: #FEC327;
	opacity: 0.8;
	filter: alpha(opacity=80);
	padding: 5px;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topLeft: 5px;
	-moz-border-radius-topRight: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	box-shadow: 2px 2px 4px rgba(0,0,0,.3);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.3);
	text-transform: uppercase;
	font-weight: bold;
}

div.boxoverBody {
	border: 1px solid black;
	background: #FEC327;
	opacity: 0.8;
	filter: alpha(opacity=80);
	padding: 5px;
	max-width: 600px;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomLeft: 5px;
	-moz-border-radius-bottomRight: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	box-shadow: 2px 2px 4px rgba(0,0,0,.3);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.3);
}

div.boxoverBody div {
	word-wrap: break-word;
}


#ui-datepicker-div {
	box-shadow: 2px 2px 4px rgba(0,0,0,.3);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#ui-datepicker-div {
	display: none;
}

img.permIco {
	margin-bottom: -5px;
	width: 18px;
	height: 18px;
}

input.saveBtn {
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#589558)); background: -moz-linear-gradient(top, white, #589558 100%); background: url(../../../../web/img/btn_back_save.gif);
	box-shadow: 0 0 3px darkgreen;
	-moz-box-shadow: 0 0 3px darkgreen;
	-webkit-box-shadow: 0 0 3px darkgreen;
	border-color: darkgreen;
}

input.saveBtn[disabled]:hover, input.saveBtn[disabled]:active {
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#589558)); background: -moz-linear-gradient(top, white, #589558 100%); background: url(../../../../web/img/btn_back_save.gif);
	opacity: 0.5;
	filter: alpha(opacity=50);
}

input.saveBtn:hover, input.saveBtnHover {
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#76C776)); background: -moz-linear-gradient(top, white, #76C776 100%); background: url(../../../../web/img/btn_back_save.gif);
	box-shadow: 0 0 3px darkgreen;
	-moz-box-shadow: 0 0 3px darkgreen;
	-webkit-box-shadow: 0 0 3px darkgreen;
	border-color: darkgreen;
}

input.saveBtn:active {
	background: -webkit-gradient(linear, left bottom, left top, from(white), to(#589558)); background: -moz-linear-gradient(bottom, white, #589558 100%); background: url(../../../../web/img/btn_back_save.gif);
}

input.saveBtnActive {
	background: -webkit-gradient(linear, left bottom, left top, from(white), to(#589558)); background: -moz-linear-gradient(bottom, white, #589558 100%); background: url(../../../../web/img/btn_back_save.gif);
}

input.cancelBtn {
	background: url(../../../../web/img/minus2.gif) 2px 2px no-repeat, -webkit-gradient(linear, left top, left bottom, from(white), to(#FB7F7F)); background: url(../../../../web/img/minus2.gif) 2px 2px no-repeat, -moz-linear-gradient(top, white, #FB7F7F 100%); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="white", EndColorStr="#FB7F7F") progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/docusafe/img/cancelBtn.gif');
	box-shadow: 0 0 3px crimson;
	-moz-box-shadow: 0 0 3px crimson;
	-webkit-box-shadow: 0 0 3px crimson;
	border-color: crimson;
	padding-left: 18px;
}

input.cancelBtn[disabled]:hover, input.cancelBtn[disabled]:active {
	background: url(../../../../web/img/minus2.gif) 2px 2px no-repeat, -webkit-gradient(linear, left top, left bottom, from(white), to(#FB7F7F)); background: url(../../../../web/img/minus2.gif) 2px 2px no-repeat, -moz-linear-gradient(top, white, #FB7F7F 100%); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="white", EndColorStr="#FB7F7F") progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/docusafe/img/cancelBtn.gif');
	opacity: 0.5;
	filter: alpha(opacity=50);
}

input.cancelBtn:hover, input.cancelBtnHover {
	background: url(../../../../web/img/minus2.gif) 2px 2px no-repeat, -webkit-gradient(linear, left top, left bottom, from(white), to(#fdadad)); background: url(../../../../web/img/minus2.gif) 2px 2px no-repeat, -moz-linear-gradient(top, white, #FDADAD 100%); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="white", EndColorStr="#FDADAD") progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/docusafe/img/cancelBtn.gif');
	box-shadow: 0 0 3px crimson;
	-moz-box-shadow: 0 0 3px crimson;
	-webkit-box-shadow: 0 0 3px crimson;
	border-color: crimson;
	padding-left: 18px;
}

input.cancelBtn:active {
	background: url(../../../../web/img/minus2.gif) 2px 2px no-repeat, -webkit-gradient(linear, left bottom, left top, from(white), to(#FB7F7F)); background: url(../../../../web/img/minus2.gif) 2px 2px no-repeat, -moz-linear-gradient(bottom, white, #FB7F7F 100%); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#FB7F7F", EndColorStr="white") progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/docusafe/img/cancelBtn.gif');
}

input.cancelBtnActive {
	background: url(../../../../web/img/minus2.gif) 2px 2px no-repeat, -webkit-gradient(linear, left bottom, left top, from(white), to(#FB7F7F)); background: url(../../../../web/img/minus2.gif) 2px 2px no-repeat, -moz-linear-gradient(bottom, white, #FB7F7F 100%); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#FB7F7F", EndColorStr="white") progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/docusafe/img/cancelBtn.gif');
}

input.defaultBtn {
	/*font-weight: bold;*/
}

input.defaultBtn:hover {
	/*font-weight: bold;*/
}

input.centerBtn {
	margin: 0 auto;
	display: block;
}

div.inline_flags_disabled {
	font-style: italic;
	padding-left: 5px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

div.inline_flags_disabled span.checkboxDisabled {
	display: none;
}

div.inline_flags a.area {
	margin: 3px;
	padding: 5px 20px 5px 5px;
	font-weight: normal;

	background-color: #644390;
	background-image: url(../../../../web/img/close_mini.gif);
	background-repeat: no-repeat;
	background-position: right 6px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #eee;
}

div.inline_flags a.area:hover {
	background-color: crimson;
}

div.inline_flags a.area:active {
	opacity: 0.5;
}

input.btnLeft {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topRight: 0px;
	-moz-border-radius-bottomRight: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	margin-right: -4px;

}

input.btnMiddle {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	margin-right: -4px;

}

input.btnRight {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-topLeft: 0px;
	-moz-border-radius-bottomLeft: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}

input.btnLoading {
	box-shadow: none;
	-moz-box-shadow: none;
	background-color: white;
	background-image: url(../../../../web/img/ajax_loader_white.gif);
	background-position: 2px 1px;
	background-repeat: no-repeat;
	border: none;
	color: gray;
	padding-left: 20px;
}

input.btnError {
	background-image: %errorIco%;
}

img.ui-datepicker-trigger {
	margin-bottom: -6px;
	*margin-bottom: -4px;
	margin-left: -3px;
	padding: 3px 2px 3px 5px;
	border: 1px solid #C0C0C0;
	border-left: none;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
}

input.hasDatepicker {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;

	-moz-border-radius-bottomRight: 0px;
	-moz-border-radius-topRight: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
}

div.colorChangerDiv {
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 3000;
	left: 0px;
	top: 0px;
}

table.flags {
	width: 100%;
}

table.flags tr td {

}

.topSpacer {
	margin-top: 20px;
}

.bottomSpacer {
	margin-bottom: 20px;
}

table.attachs {
	cursor: default;
}

/*
table.attachs tr {
	-moz-box-shadow: 0px 0px 3px white;
	-moz-border-radius: 5px;
}

table.attachs tr:hover {
	-moz-box-shadow: 0px 0px 3px black;
	background-color: #FFFBC4;
}
*/

.lightOddRows {

}

td.attachTitle {
	font-weight: bold;
	padding-right: 10px;
}

div.loginBox {
	border: 1px solid #333333;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #658425;
	background-color: rgba(155, 104, 222, 0.8);
	*background-color: #658425;
	background-color: #CCE6FC\9;
	width: 400px;
	padding-top: 10px;
	box-shadow: 0px 0px 5px #333333;
	-moz-box-shadow: 0px 0px 5px #333333;
	-webkit-box-shadow: 0px 0px 5px #333333;
	%loginBox%;
}

div.loginBox input.username {
	%loginUsername%;
}

div.loginBox input.password {
	%loginPassword%;
}

div.loginBox h2, div.loginBox h3 {
	text-shadow: 1px 1px 0 #C59DF9;
	%loginBoxH2H3%;
}

select.dockindWide {
	width: 304px;
	*position: absolute;
	*margin: 0 0 10px 0;
}

div.dockindWideTxt {
	font-style: italic;
	font-size: 10px;
	line-height: 11px;
	text-align: right;
	width: 280px;
	white-space: normal;
	*margin-top: 25px;
}

/* pokazuje caďż˝y select */
select.dockindWideExpand {
	width: auto;
}

td.archiveLeft {
	padding-right: 10px;
	white-space: nowrap;
}

td.archiveRight {
	padding-left: 10px;
}

td.archiveLeftBorder {
	border-right: 1px solid #d3d3d3;
}

#organizationTree {
	float: left;
	margin-right: 100px;
}

img.tasklistIoc {
	display: block;
	margin: 0 auto 0 auto;
}

a.closeList {
	float: right;
	margin-right: 10px;
	margin-top: -10px;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	font-size: 14px;
	color: #F0A14A;

}

a.closeList:hover {
	font-size: 14px;

	color: #F0A14A;
	text-shadow: none;
}

table.popupForm {
	padding: 0;
	margin: 2px;
	border-collapse: collapse;
}

table.popupForm tr.desc {
	padding-bottom: 0px;

}

table.popupForm tr.desc td {
	padding-top: 12px;
	text-indent: 1px;

	line-height: 12px;
}

table.buttons input {
	width: 100%;
}

table.buttons tr {
	height: 30px;
}

span.pager {
	display: block;
	padding-top: 20px;
	cursor: default;
}

span.pager a, span.pager a:link, span.pager a:visited, span.pager a:active {
	border: 1px solid #658425;
	padding: 2px 4px;
	font-weight: normal;
	text-shadow: none;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

span.pager a:hover {
	border: 1px solid #658425;
	padding: 2px 4px;
	font-weight: normal;
	background-color: #658425;
	color: white;
}

span.pager a.currentPage, span.pager a.currentPage:link, span.pager a.currentPage:visited, span.pager a.currentPage:active, span.pager a.currentPage:hover {
	border: 1px solid white;
	padding: 2px 4px;
	color: #658425;
	font-weight: bold;
	cursor: default;
	background-color: white;
	cursor: default;
}

span.pager a.disabledPage, span.pager a.disabledPage:link, span.pager a.disabledPage:visited, span.pager a.disabledPage:active, span.pager a.disabledPage:hover {
	border: 1px solid #ccc;
	padding: 2px 4px;
	color: #ccc;
	cursor: default;
	background-color: white;
	cursor: default;
}

#addInfo, .ajaxInfoBox {
	background-color: darkgreen;
	color: #eeeeee;
	padding-left: 10px;
	padding-right: 25px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: none;
	float: right;
	background-image: url(../../../../web/img/close_mini.gif);
	_background-image: url(../../../../web/img/close_miniIE6.gif);
	background-position: right;
	background-repeat: no-repeat;
	height: 20px;
	cursor: pointer;
	*margin-top: -20px;
}

span#addInfo.errorInfo, .errorInfo {
	background-color: crimson;
}

#addInfo:hover, ajaxInfoBox:hover {
	background-color: green;
}

span#addInfo.errorInfo:hover, .errorInfo:hover {
	background-color: red;
}

textarea.inputNote {
	color: #999;
	line-height: 46px;
	font-size: 14px;
	font-family: arial;
	text-align: center;
}

textarea.empty {
	color: #666;
	font-style: italic;
	font-family: arial;
}

#remarksShortLoader {
	padding-left: 10px;
	font-style: italic;
}

#remarksShortLoader img {
	margin-bottom: -3px;
}

#remarksLong {
	display: none;
}

#remarksLong tbody {
	display: block;
	max-height: 303px;
	overflow-x: hidden;
	overflow-y: scroll;
}

div.scrollRemarksWraper {
	*max-height: 303px;
	*overflow-x: hidden;
	*overflow-y: scroll;
}

#remBtn {
	float: right;
	width: 18px;
	height: 18px;
	margin-left: 5px;
	cursor: pointer;
	border: 1px solid transparent;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: -1px;

	*float: none;
	*margin-bottom: -3px;
}

#remBtn:hover {
	box-shadow: 0 0 6px white;
	-moz-box-shadow: 0 0 6px white;
	-webkit-box-shadow:  0 0 6px white;
	border: 1px solid rgba(255,255,255,0.8);
}

#remBtn[src$='gray.gif'] {
	border: 2px solid transparent;
	width: 16px;
	height: 16px;
}

#remBtn[src$='gray.gif']:hover {
	box-shadow: none;
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
	border: 2px solid transparent;
	cursor: default;
}

input.rightAlignedBtn {
	%rightAlignedBtn%;
}

table.userInfoSummary {
	text-align: right;
	border-collapse: collapse;
	float: left;
}

table.userInfoSummary tr:nth-child(odd) {
	background-color: #F5F5FF;
}

table.userInfoSummary td {
	padding: 3px;
}

table.userInfoSummary td.label {
	text-align: left;
}

table.userInfoSummary td.gps {
	text-align: center;
}

span.loggedIn {
	color: darkgreen;
}

span.notLoggedIn {
	color: crimson;
}

img.userInfoPhoto {
	float: left;
	height: 200px;
	margin: 5px 10px 5px 5px;
	border: 5px solid white;
	box-shadow: 0 0 5px gray;
	-moz-box-shadow: 0 0 5px gray;
	-webkit-box-shadow: 0 0 5px gray;
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
}

table.userBilling td {
	padding: 4px 15px;
}

table.userBilling caption {
	font-family: verdana;
	font-size: 18px;
	line-height: 40px;
	color: #644390;
	background: -moz-linear-gradient(top, white, #F5F5FF);
	*background: #F5F5FF;

	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}

#userLocation {
	float: left;
	margin-left: 20px;
	display: none;
	height: 260px;
}

#userLocationOver {
	width: 77px;
	height: 123px;
	background-color: yellow;
	opacity: 0.5;
	filter: alpha(opacity=50);
	position: relative;
	top: -255px;
	left: 5px;

	z-index: 1000;
}

textarea.nonEditable {
	background: white;
	border: 1px solid white;
	font-family: verdana;
	font-size: 12px;
}

textarea.editable {
	background: white;
	border: 1px solid white;
	font-family: verdana;
	font-size: 12px;
	color: #555;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

textarea.editable:hover {
	border: 1px solid #555555;
	background: #FFFBC4;
}

textarea.editable:focus, textarea.editableFocus {
	border-color: #111;;
	color: #333333;
}

table.userInfoSites {
	max-width: 600px;
}

table.userInfoSites td {
	padding: 4px 10px;
	text-align: justify;
}

#sitesTd {
	text-align: center;
	font-style: italic;
}

#sitesTd a {
	display: inline;
}

#mainTable th.calendarDay {
	font-size: 12px;
	padding: 10px 0;
	color: #644390;
	background-color: #F5F5FF;
	text-shadow: 0 1px 0 white;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-top: 1px solid #644390;
}

#mainTable th.calendarDay:first-child {
	border-top: none;
}

#mainTable th.calendarDay:hover {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

img.tasklistDivision {
	width: 16px;
	height: 16px;
}

#id_strzalki1 a img {
	margin-bottom: -3px;
}

#id_strzalki2 a img {
	margin-bottom: -3px;
}

#id_strzalki1 a:active, #id_strzalki2 a:active {
	opacity: 0.5;
}

div.clearFloat {
	clear: both;
}

td.upperMenuLeftCell {
	background: white;
}

#ajaxCalDiv {
}

/* news */
div.newsContainer {
	padding: 10px;
}

div.newsContainer h2 {
	margin: 0;
}

div.news {
	border-bottom: 1px solid lightgray;
	margin-bottom: 30px;
}

div.news:last-child {
	border-bottom: none;
}

div.news span.info {
	font-size: 11px;
	color: gray;
	border-left: 1px dotted gray;
	padding-left: 6px;
	padding-right: 5px;
}

div.news span.info a {
	font-size: 11px;
	font-weight: normal;
	text-shadow: none;
}

div.news span.edit:hover {
	background-color: LightGoldenRodYellow;
}

div.news span.delete:hover {
	background-color: MistyRose;
}

div.content {
	margin-top: -3px;
	padding-top: 6px;
	height: auto;
	overflow: visible;
}

div.contentCollapsed {
	height: 100px;
	overflow: hidden;
}

div.contentEdit {
	background-color: LightGoldenRodYellow;
}

div.contentDelete {
	background-color: MistyRose;
}

div.news span.firstInfo {
	border-left: none;
	margin-left: 0;
	padding-left: 0;
}

div.news span.read-more, div.news span.re-collapse {
	float: right;
	height: 30px;
	margin-top: -30px;
}

div.news span.read-more a, div.news span.re-collapse a {
	font-weight: normal;
}

a.contentExpand, a.contentExpand:hover {
	font-weight: normal;
	text-shadow: none;
	display: block;
	font-size: 11px; 
}

div.msgContainer {
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px dashed gray;
	margin-bottom: 30px;
}

div.msgContainer div.msg {
	float: left;
	padding: 5px 10px;
	margin: 5px;
	background: #FFFBC4;
	background: -moz-linear-gradient(center top , #FFFBC4, #F9EB2F);
	background: -webkit-linear-gradient(top , #FFFBC4, #F9EB2F);
	border-radius: 10px;
	border: 1px solid orange;
	box-shadow: 0 0 5px orange;
	cursor: pointer;
}

div.msgContainer div.msg:hover {
	-moz-box-shadow: 0 0 10px orange;
	background: #FEFCE2;
	background: -moz-linear-gradient(center top , #FEFCE2, #F9F065);
	background: -webkit-linear-gradient(top , #FEFCE2, #F9F065);
}

div.msg span.content {
	float: left;
}

div.msg span.content a {
	font-size: 14px;
	font-weight: normal;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
}

div.msg span.selectRead {
	float: left;
	clear: both;
	margin-top: -6px;
}

div.msg span.selectRead a {
	font-size: 11px;
	font-weight: normal;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	color: gray;
}

div.msg span.selectRead a:hover {
	color: #232323;
	text-decoration: underline;
}

div.msgContainer div.msg-periodic {
	background: #FFE5C4;
	background: -moz-linear-gradient(center top , #FFE5C4, #F99F2F) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top , #FFE5C4, #F99F2F);
	border-color: chocolate;
	box-shadow: 0 0 5px chocolate;
	position: relative;
}

div.msgContainer div.msg-periodic:hover {
	background: #FFEFD9;
	background: -moz-linear-gradient(center top , #FFEFD9, #F9A63F) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top , #FFEFD9, #F9A63F);
}

div.msg-periodic span.selectRead a {
	color: #454545;
}

div.msgContainer div.msg-periodic:after,
div.msgContainer div.msg-periodic:before {
	background: none repeat scroll 0 0 transparent;
	border-bottom: 1px solid chocolate;
	border-radius: 10px 10px 10px 10px;
	bottom: -3px;
	content: "";
	left: 5px;
	position: absolute;
	right: 5px;
	top: 31px;
}

div.msgContainer div.msg-periodic:before {
	bottom: -5px;
	left: 13px;
	right: 13px;
	top: 34px;
}


/* wyszukiwanie - takie jak w kontaktach */
fieldset.container {
	float: left;
	width: 200px;
	border: none;
	margin-right: 20px;
}

fieldset.container p {
	display: block;
	margin: 0;
	padding-bottom: 10px;
	height: 40px;
}

fieldset.container p label {
	display: block;
	padding-left: 6px;
	line-height: 16px;
	font-family: arial;
}

fieldset.container p input, fieldset.container p select {
	display: block;
	width: 100%;
}

fieldset.container.auto {
	width: auto;
}

fieldset.container.left {
	margin-right: 0;
	padding-right: 0;
}

fieldset.container.right {
	margin-left: 0;
	padding-left: 0;
}

fieldset.container.left p, fieldset.container.right p {
	padding-left: 7px;
	padding-right: 7px;
}

fieldset.container p input.date {
	display: inline;
	width: auto;
}

fieldset.container p.connect1 {
	background-color: #F3FAFE;
}

fieldset.container p.connect1 label.connectTitle {
	padding-right: 7px;
	font-size: 14px;
	padding-top: 19px;
}

div.fieldsetSearch {
	float: left;
	clear: both;
	padding-left: 9px;
}

div.fieldsetSearch a, div.fieldsetSearch a:link, div.fieldsetSearch a:visited, 
div.fieldsetSearch a:hover, div.fieldsetSearch a:active {
	font-family: arial;
	text-decoration: underline;
	font-weight: normal;
	text-shadow: none;
	margin-left: 10px;
}

div.fieldsetSearch a:hover {
	text-decoration: none;
}

input.btnBanner {
	font-size: 14px;
	padding: 4px 10px;
	border-color: orange;
	-moz-box-shadow: 0 0 7px orange;
	-webkit-box-shadow: 0 0 7px orange;
	box-shadow: 0 0 7px orange;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#locationUser {
	position: absolute;
	-moz-box-shadow: 0 0 5px black;
	-webkit-box-shadow: 0 0 5px black;
	box-shadow: 0 0 5px black;
}

tr.inactive, tr.inactive td a {
	color: #999;
}

#calendars tbody tr.placeholder, .placeholder {
	height: 28px;
	-moz-box-shadow: 0 0 0 1px orange;
}

#calendars tbody tr.highlight {
	background-color: orange;
	color: white;
	opacity: 0.6;
}

input.formattedNumber {
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

a.addLink {
	font-weight: normal;
	text-shadow: none;
	text-decoration: underline;
	color: darkgreen;
}

a.addLink:hover {
	text-decoration: none;	
	font-weight: normal;
	color: darkgreen;
}

img.attPreview {
	display: none;
	position: absolute;
	width: 200px;
	left: 0;
	top: 0;
	border: 1px solid black;
	z-index: 999;
	
	-moz-box-shadow: 0 0 10px black;
}

div.docPreview {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	padding: 5px;
	background: white;
	
	border: 1px solid black;
	z-index: 999;
	
	-moz-box-shadow: 0 0 10px black;
}

div.docPreview table {
	text-align: left;
	width: 100%;	
}

div.docPreview table tr td {
	text-align: left;
	padding: 0;
	font-size: 10px;
	white-space: nowrap;
}

div.docPreview table tr td:last-child {
	text-align: right;
}

div.docPreview table tr td.desc {
	white-space: normal;
	line-height: 11px;
}


/* DWR */
input.searchable,
.chzn-container-single .chzn-search input {
	background-image: url(../../../../web/img/search.gif);
	background-image: url(../../../../web/img/search.gif), -moz-linear-gradient(top , #EEEEEE, #F5F5F5);
	background-image: url(../../../../web/img/search.gif), -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#F5F5F5));
	background: url(../../../../web/img/search.gif),  url(../../../../web/img/input_back.gif) \9;
	*background-image: url(../../../../web/img/search.gif);
	background-repeat: no-repeat;
	background-position: top right;
	-moz-transition-property: border, box-shadow;
	-webkit-transition-property: border, -webkit-box-shadow;
}

input.searchable:focus {
	background-image: url(../../../../web/img/search.gif);
	background-image: url(../../../../web/img/search.gif), -moz-linear-gradient(top, #FAF16A, #FFFBC4);
	background-image: url(../../../../web/img/search.gif), -webkit-gradient(linear, left top, left bottom, from(#FAF16A), to(#FFFBC4));
	*background-image: url(../../../../web/img/search.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.chzn-container-single .chzn-single div b {
	background-image: url(../../../../web/img/select_arrow.gif);
}

a.showAttachment {
	background-image: url(../../../../web/img/search.gif);
}

a.showPdfAttachment {
	background-image: url(../../../../web/img/show_pdf.gif);
}

a.saveAttachment {
	background-image: url(../../../../web/img/save_att.gif);
}


a.show_dictionary, .showPopup {
	background-image: url(../../../../web/img/show_ico.gif);
}

a.clear_dictionary, a.del_att {
	background-image: url(../../../../web/img/delete_ico.gif);
}

div.fieldInfo {
	background-image: %infoIco%;
}

a.addAttachment {
	background-image: url(../../../../web/img/add_att_ico.gif);
}

div.attDrop {
	background-image: url(../../../../web/img/upload_big.gif);
}

button.popupButton .desc,
.smallIcons {
	background-image: url(../../../../web/img/smallIcons.gif);	
}

label.required {
	background-image: url(../../../../web/img/warn.gif);
}

.warningBig {
	background-image: url(../../../../web/img/warn_big.gif);
}

.error-msg-class{
	/*position: absolute;
	padding: 15px;*/
}

.dwr-go-ico {
	background-image: url(../../../../web/img/arrow-right.gif);
}

/* Portlet start page */
.sp-portlet-remove {
	background-image: url(../../../../web/img/close_mini.gif);
}

.sp-portlet-special-add-foreground {
	background-image: url(../../../../web/img/portlet-add.gif);	
}

.sp-portlet-header {
	background: #644390;	
}

.sp-portlet-special-add-background {
	background-color: lightgray;;
}

.sp-portlet {
	border-color: lightgray;;
}

.ui-sortable-placeholder {
	background-color: lightgray; !important;
}

.weather-code-395, .weather-code-392, .weather-code-377,
.weather-code-374, .weather-code-371, .weather-code-368,
.weather-code-350, .weather-code-358, .weather-code-335,
.weather-code-332, .weather-code-329, .weather-code-326,
.weather-code-323, .weather-code-227, .weather-code-185, .weather-code-179 {
	background-image: url(../../../../web/img/weather-snow.gif);
}

.weather-code-389, .weather-code-365, .weather-code-359,
.weather-code-356, .weather-code-308, .weather-code-305 {
	background-image: url(../../../../web/img/weather-showers.gif);
}

.weather-code-386, .weather-code-362, .weather-code-353,
.weather-code-320, .weather-code-317, .weather-code-314, 
.weather-code-311, .weather-code-302, .weather-code-299, 
.weather-code-296, .weather-code-293, .weather-code-284, 
.weather-code-281, .weather-code-266, .weather-code-263, 
.weather-code-182, .weather-code-176 {
	background-image: url(../../../../web/img/weather-showers-scattered.gif);
}
.weather-code-260, .weather-code-248, .weather-code-143, 
.weather-code-122 {
	background-image: url(../../../../web/img/weather-overcast.gif);
}

.weather-code-230, .weather-code-200 {
	background-image: url(../../../../web/img/weather-storm.gif);
}

.weather-code-119, .weather-code-116 {
	background-image: url(../../../../web/img/weather-few-clouds.gif);
}

.weather-code-113 {
	background-image: url(../../../../web/img/weather-clear.gif);
}

.chzn-wrapper .chzn-container {
	float: none;
}

.dsb-cursor {
	background-image: url(../../../../web/img/dsb-cursor.gif);
}

.dsb-date {
	background-image: url(../../../../web/img/dsb-date.gif);
}

.dsb-text {
	background-image: url(../../../../web/img/dsb-text.gif);
}

.dsb-list {
	background-image: url(../../../../web/img/dsb-list.gif);
}

.dsb-checkbox {
	background-image: url(../../../../web/img/dsb-checkbox.gif);
}

.dsb-number {
	background-image: url(../../../../web/img/dsb-number.gif);
}

.dsb-money {
	background-image: url(../../../../web/img/dsb-money.gif);
}

.dsb-dictionary {
	background-image: url(../../../../web/img/dsb-dictionary.gif);
}

.dsb-processes {
	background-image: url(../../../../web/img/jigsaw.gif);
}

.download-icon {
	background-image: url(../../../../web/img/pobierz.gif);
}

.pdf-icon {
	background-image: url(../../../../web/img/pdf.gif);
}

.zoom-icon {
	background-image: url(../../../../web/img/wyswietl.gif);
}

.check-mini {
	background-image: url(../../../../web/img/check_mini.gif);
}

.ajax-loader-big {
	background-image: url(../../../../web/img/ajax_loader_big.gif);
}

.doAdd {
	background-image: url(../../../../web/img/plus2.gif);
}

.float-right {
	float: right;
}

.calendar-image {
	background-image: url(../../../../web/calendar096/img.gif);
}

.hideAllMenus #leftCell,
.hideAllMenus #logo,
.hideAllMenus #topMenu,
.hideAllMenus .footer,
.hideAllMenus #logout_top {
	display: none;
}

.hideAllMenus .mai2 {
	border-left: none;
}