html, body {
	/*overflow: hidden;*/
}

#ajaxTopInfo {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	padding-top: 20px;
	background: rgba(0,0,0,0.7);
	color: white;
	text-align: center;
	font-size: 16px;
	-moz-box-shadow: -5px 0 5px black;
	-webkit-box-shadow: -5px 0 5px black;
	box-shadow: -5px 0 5px black;
	border-bottom: 5px solid lightgray;
	z-index: 9999;
	display: none;
}

#ajaxInfo, #lastRefresh {
	position: absolute;
	top: 0;
	background-color: darkgreen;
	color: white;
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	-moz-border-radius: 0 0 5px 5px;
	display: none;
}

#lastRefresh {
	left: 0;
	z-index: 1000;
	height: auto;
}

div#ajaxInfo.errorInfo {
	background-color: crimson;
}

div#eventInfo.errorInfo {
	color: crimson;
}

#eventInfo textarea, #eventInfo input {
	margin: 5px 0;
}

#eventInfo span.userList, #eventInfo span.resList, #rejectionReasons {
	float: left;
	/*clear: both;*/
	margin-top: 5px;
	border: 1px solid lightgray;
	padding: 2px;
}

#eventInfo span.resList {
	float: right;
	clear: right;
}

#eventInfo input.cal.addUser, #eventInfo input.cal.addRes {
	float: left;
	clear: both;
	margin: 0;
	width: 200px;
}

#eventInfo input.cal.addUser, label.cal.user {
	width: 200px;
}

div.humanEventDate {
	font-style: italic;
}

textarea.cal, input.calTime, input.cal {
	width: 100%;
	background: none;
	border: 1px solid transparent;
}

#eventInfo input#periodLength {
	text-align: center;
	border-bottom: 1px dotted #333;
	margin: 0 5px;
	font-size: 16px;
}

#eventInfo input#periodFrom,
#eventInfo input#periodTo {
	width: 122px;
	margin-left: 10px;
}

#eventInfo input#periodFrom.calDate,
#eventInfo input#periodTo.calDate {
	width: 79px;
}

#eventInfo input#periodTo {
	margin-left: 1px;
}

#eventInfo span.periodHyphen {
	font-size: 18px;
	font-weight: bold;
	line-height: 14px;
	margin-left: 1px;
	text-align: center;
	vertical-align: text-top;
	color: #777;
}
label.cal {
	float: left;
	clear: both;
	width: 150px;
	font-family: arial;
	font-size: 11px;
	margin: 5px 0 -5px 0;
	text-indent: 10px;
	color: #777;
}

label.cal.user {
	clear: none;
}

label.cal.res {
	float: right;
	clear: none;
	width: 200px;
}

textarea.cal {
	border: 1px dotted gray;
}

input.calTime[readonly], input.calTime[readonly]:focus, input.calTime[readonly]:hover, 
input.cal[readonly], input.cal[readonly]:focus, input.cal[readonly]:hover {
	background: transparent;
	border: 1px solid transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;	
}

textarea.cal[readonly], textarea.cal[readonly]:focus, textarea.cal[readonly]:hover {
	border: 1px solid transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

textarea.cal {
	/*border: 1px dotted #666;*/
}

input.calTime {
	width: 40px;
	font-style: italic;
}

input.invalidTime, input.invalidTime:hover, input.invalidTime:focus {
	background: crimson !important;
	color: white;
}

label.owner, label.calInfo {
	font-family: arial;
	font-size: 11px;
	margin-left: 10px;
	color: #777;
}

label.calInfo {
	float: right;
	margin-top: 9px;
}

span.confirm {
	float: right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 7px 10px;
	background-color: ForestGreen;
	color: white;
	cursor: pointer;
}

span.confirm:hover {
	background-color: YellowGreen;
}

span.confirmed, span.confirmed:hover {
	background-color: transparent;
	color: #666666;
	cursor: default;
}

.fc-event-vert span.confirmMini {
	float: right;
	margin-top: -20px;
	padding: 0 2px;
	margin-right: 18px;
	/*background-color: #95B1E5;*/
}

.fc-event-vert span.confirmMini:hover {
	/*color: blue;*/
	text-decoration: underline;
	background-color: rgba(0,0,0,0.2);
}

/*.fc-event div.confirmMini {
	display: none;
}

.fc-event:hover div.confirmMini {
	display: block;
	height: 100%;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	background-color: green;
	float: right;
	margin-right: -62px;
	padding: 0 7px;
	font-size: 10px;
	opacity: 0.5;
	cursor: pointer;
}

.fc-event:hover div.confirmMini:hover {
	opacity: 1.0;
}*/


#errorDiv {
	background: crimson;
	color: white;
}

textarea.cal {
	overflow: auto;
	resize: none;
}

textarea.cal:hover, input.calTime:hover, input.cal:hover {
	border: 1px solid #AAAAAA;
	background: rgba(0,0,0,0.05);
	*background: #F2F2F2;
}

textarea.cal:focus, input.calTime:focus, input.cal:focus,
textarea.focusIE, input.focusIE {
	border: 1px solid #333;
	background: -moz-linear-gradient(center top , #FAF16A, #FFFBC4) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#FAF16A), to(#FFFBC4));
	background: -ms-linear-gradient(center top , #FAF16A, #FFFBC4) repeat scroll 0 0 transparent;
	-moz-box-shadow: 0 0 3px gray;
	moz-box-shadow: 0 0 3px gray;
	box-shadow: 0 0 3px gray;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#FAF16A", EndColorStr="#FFFBC4");
}

textarea.focusIE:hover, input.focusIE:hover {
	border: 1px solid #333;
}

#eventInfo {
	*overflow: hidden;
	display: none;
}

#eventInfo input.cal {
	/*height: 27px;*/
	display: block;
	float: left;
	width: 150px;
	margin: 0 0 0 16px;
}

#eventInfo input.calSelect {
	float: right;
	margin: 5px 5px 0 0;
	text-align: right;
}

input.empty, textarea.empty {
	color: #666;
	font-style: italic;
}

img.eventRemove, img.eventAccept, img.eventReadonly, img.eventPeriodic {
	position: absolute;
	right: 0;
	top: 4px;
	opacity: 0.7;
	/* cwana metoda - sam wymyślilem - potrzebny jest gradient dla obrazkow png
	(inaczej zepsuta jest przezroczystosc */
	/*filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#95B1E5,endColorStr=#2E67D2) progid:DXImageTransform.Microsoft.Alpha(opacity=70);*/
}

img.eventReadonly {
	right: 6px;
	top: 3px;
}

img.lockTime {
	position: relative;
	left: 2px;
	top: 1px;
}

img.eventPeriodic {
  position: relative;
  right: -1px;
  top: 1px;
}

img.eventRemove:hover, img.eventAccept:hover {
	opacity: 1.0;
	filter: none;
}

img.eventAccept {
	right: 20px;
	z-index: 1000;
	cursor: pointer;
}

span.allDayTitle {
	font-weight: bold;
}

span.user, span.res {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: block;
	float: left;
	cursor: pointer;
	padding: 2px 20px 2px 2px;
	background-repeat: no-repeat;
	background-position: right;
	white-space: nowrap;
	width: auto;
	clear: both;
}

span.resBusy {
	color: crimson;
}

span.user:hover, span.res:hover, span.resBusy:hover {
	background-color: crimson;
	color: white;
}

span.user.readonly:hover, span.res.readonly:hover {
	color: #222222;
	background-color: white;
	cursor: default;
} 

span.user:active, span.res:active {
	opacity: 0.6;
}

/*label.resError {
	background-color: crimson;
	color: white;
	text-transform: uppercase;
	-moz-box-shadow: 0 0 2px black;
	-moz-border-radius: 2px;
}*/

span.resInfo, span.usrInfo {
	background-color: darkgreen;
	color: white;
	float: right;
	text-indent: 0;
}

span.resInfo.resError, span.usrInfo.resError {
	background-color: crimson;
}

span.ndash {
	*position: relative;
	top: -5px;
}

select.calSelect, span.calInfo {
	float: right;
	margin-top: 5px;
}

span.calInfo {
	margin-top: 7px;
}

#loading {
	float: right;
	width: 150px;
	text-indent: 25px;
	z-index: 1000;
	background-repeat: no-repeat;
	background-position: left;
}

#calendarsList {
	width: 165px;
	float: right;
}

#calendarsList div {
	padding: 2px 20px 2px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.6);
	*border: 1px solid #555;
	margin: 5px;
	cursor: pointer;
	zoom: 1;
	min-height: 20px;
	color: white;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#calendarsList div:hover, #calendarsList div.selectColorActive {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

img.locked {
	float: right;
	margin-top: 4px;
	
}

img.selectColor {
	float: right;
	margin: 2px -14px 0 5px;
	opacity: 0.8;
	
}

img.selectColor:hover, img.selectColorActive {
	opacity: 1.0;
}

.hide {
	opacity: 0.3;
}

#calendarsList div.hide {
	*color: #222222 !important;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

span.accepted, span.rejected {
	line-height: 51px;
	color: darkgreen;
	margin-left: 10px;
	float: left;
	text-transform: uppercase;
	font-size: 10px;
	cursor: default;
}

span.accepted.periodic {
	line-height: 29px;
	margin-right: 10px;
}

span.rejected {
	color: crimson;
}

.ui-dialog .ui-dialog-buttonpane button.accept, .ui-dialog .ui-dialog-buttonpane button.reject {
	float: left;
	margin-left: 10px;
}

#progressbar {
	height: 16px;  
	border: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e2e2e2)); 
	background: -moz-linear-gradient(center top , #EEEEEE, #E2E2E2); 
	background: -ms-linear-gradient(center top , #EEEEEE, #E2E2E2); 
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#EEEEEE", EndColorStr="#E2E2E2");
	*background-color: #eee;
	margin-bottom: 10px;
	margin-top: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#progressbar div.ui-progressbar-value {
	background: -webkit-gradient(linear, left top, left bottom, from(#4b9ac2), to(#3c728d));  
	background:  -moz-linear-gradient(top, #4b9ac2, #3c728d);
	background:  -ms-linear-gradient(top, #4b9ac2, #3c728d);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4b9ac2", EndColorStr="#3c728d");
	/*-moz-box-shadow: 0 0 5px #7CB5D2;*/
	*background-color: navy;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0;
	margin: 0;
}

#debugObsolete {
	font-size: 8px;
	border: 1px solid red;
	height: 100px;
	overflow: scroll;
	position: absolute;
	left: 0px;
	top: 30px;
	width: 100%;
	background: white;
	z-index: 9999;
	display: none;
}

#colorTable {
	position: absolute;
	left: 104px;
	top: 250px;
	z-index: 1001;
	width: 112px;
	padding: 3px;
	background-color: white;
	border: 1px solid gray;
	border-top: none;
	display: none;
	
	background-color: white;
	-moz-box-shadow: 0 2px 5px gray;
	-webkit-box-shadow: 0 2px 5px gray;
	box-shadow: 0 2px 5px gray;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
	background: -moz-linear-gradient(top, white, #eee);
	background: -ms-linear-gradient(top, white, #eee);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="white", EndColorStr="#eeeeee");
}

#colorTable div {
	width: 20px;
	height: 20px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin: 3px;
	float: left;
	cursor: pointer;
	z-index: 1000;
}

#colorTable div:hover, #colorTable div.selected {
	-moz-box-shadow: 0 0 5px black;
	-webkit-box-shadow: 0 0 5px black;
	box-shadow: 0 0 5px black;
	border-color: black;
}

#colorTable div.default {
	width: 104px;
	text-align: center;
	color: white;
	font-weight: normal;
}

#colorTable div.duplicated {
	opacity: 0.3;
}

#eventStatus {
	display: none;
	float: left;
	width: 100%;
	margin-top: 10px;
}

#confirmDesc {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2000;
	display: none;
	background: white;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EEEEEE)); 
	background: -moz-linear-gradient(top , white, #EEEEEE);
	background: -ms-linear-gradient(top , white, #EEEEEE);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="white", EndColorStr="#EEEEEE");
	width: 150px;
	border: 1px solid gray;
	padding: 5px;
	line-height: 12px;
	-moz-box-shadow: 0 0 5px black;
	-webkit-box-shadow: 0 0 5px black;
	box-shadow: 0 0 5px black; 
}

span.statusDesc {
	color: #333;
	font-style: italic;
}

#rejectionReasons {
	width: 100%;
	float: left;
	padding: 0;
}

#rejectionReasons div.reasonContainer {
	float: left;
	width: 100%;
	padding: 2px 0;
}

#rejectionReasons span.usr {
	float: left;
	margin: 2px;
}

#rejectionReasons span.reason {
	float: right;
	margin: 2px;
	font-style: italic;
}

span.calName {
	float: left; 
	width: 105px
}

div.period {
	float: left;
	/*display: none;*/
	height: 0;
	overflow: hidden;
}

#periodKind {
	width: 85px;
	border: none;
}

#periodSwitchContainer {
	
}

#eventInfo #periodSwitch {
	margin: 5px 0 0;
}

#eventInfo #periodSwitch:active {
	box-shadow: none;
}

label[for="periodSwitch"] {
  line-height: 20px;
  vertical-align: text-bottom;
  margin-left: 10px;
}

div.periodReadOnly {
	color: #333;
}

div.periodReadOnly span {
	color: #222;
	font-weight: bold;
}

/* period mode selection */
#periodModeSelection {
	position: absolute;
	left: -1000px;
	top: -1000px;
	display: block;
	width: 340px;
	padding: 10px;
	padding-top: 0;
	font-size: 10px;
	opacity: 1;
	margin-left: 0;
	overflow: visible;
	border-color: #666;
	z-index: 9999;
	*background: white;
	background: rgba(255,255,255,0.9);
	border: 1px solid #666;
	border-radius: 5px;
	box-shadow: 0 0 10px gray;
	-moz-transition-property: opacity, margin-left;
	-moz-transition-duration: 300ms;
	-moz-transition-timing-function: ease-in-out;
	-webkit-transition-property: opacity, margin-left;
	-webkit-transition-duration: 300ms;
	-webkit-transition-timing-function: ease-in-out;
	transition-property: opacity, margin-left;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

div#periodModeSelection.period-mode-selection-hidden {
	opacity: 0;
	margin-left: -100px;
	z-index: -1000;
	-moz-transition: opacity 300ms ease-in-out;
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
}

#periodModeSelection::before {
	background: none repeat scroll 0 0 white;
	border: 1px solid #666;
	border-top: none;
	border-right: none;
	box-shadow: -2px 2px 2px -1px #999999;
	content: "";
	float: left;
	height: 20px;
	margin-left: -21px;
	margin-top: 54px;
	position: absolute;
	width: 20px;
	-moz-transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
}

div#periodModeSelection.period-mode-selection-left::before {
	left: 100%;
	margin-left: -10px;
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
}

.container-table {
	display: table;
	width: 325px;
}

.container-caption {
	display: table-caption;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	color: #333;
}

.container-row {
	display: table-row;
}

.container-row button {
	margin-top: 10px;
}

.container-row .period-mode-desc {
	padding-top: 10px;
}

.container-cell {
	display: table-cell;
	vertical-align: middle;
	min-width: 160px;
}

#periodModeSelection button {
	width: 100%;
	height: 30px;
}

#periodModeSelection .ui-button-text {
	white-space: nowrap;
}

.period-mode-desc {
	font-style: italic;
	padding-left: 10px;
	line-height: 15px;
}

.ui-dialog .ui-dialog-buttonpane button.ui-button[cn=dlg-accept-period-single],
.ui-dialog .ui-dialog-buttonpane button.ui-button[cn=dlg-accept-period-future],
.ui-dialog .ui-dialog-buttonpane button.ui-button[cn=dlg-reject-period-single],
.ui-dialog .ui-dialog-buttonpane button.ui-button[cn=dlg-reject-period-future] {
	float: left;
	font-size: 0.8em;
	line-height: 0.7em;
	padding: 0.1em 0.3em 0.15em;
	width: 150px;
	margin-top: 0;
}

.ui-dialog .ui-dialog-buttonpane button.ui-button[cn=dlg-accept-period-single],
.ui-dialog .ui-dialog-buttonpane button.ui-button[cn=dlg-reject-period-single] {
	margin-bottom: 0;
}

.ui-dialog .ui-dialog-buttonpane button.ui-button[cn=dlg-accept-period-single]:after,
.ui-dialog .ui-dialog-buttonpane button.ui-button[cn=dlg-reject-period-single]:after {
	margin-top: 6px;
}

.ui-dialog .ui-dialog-buttonpane button.ui-button[cn=dlg-accept-period-future]:after,
.ui-dialog .ui-dialog-buttonpane button.ui-button[cn=dlg-reject-period-future]:after {
	bottom: 0;
	margin-bottom: 29px;
	top: inherit;
	z-index: 1000;
}

.ui-dialog .ui-dialog-buttonpane button.ui-button[cn=dlg-accept-period-future]:before,
.ui-dialog .ui-dialog-buttonpane button.ui-button[cn=dlg-reject-period-future]:before {
	bottom: 0;
	margin-bottom: 24px;
	top: inherit;
	-moz-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
}


.ui-dialog .ui-dialog-buttonpane button.doubleHeight {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 1.1em !important;
	padding-top: 1.1em !important;
}

.ui-button[data-tooltip]::after {
	content: attr(data-tooltip);
	position: absolute;
	left: 0;
	background: white;
	border: 1px solid #666;
	border-radius: 5px;
	box-shadow: 0 0 10px gray;
	padding: 2px 3px;
	font-size: 11px;
	line-height: 16px;
	
	margin-top: 8px;
	opacity: 0;
}

.ui-button[data-tooltip]::before {
	background: -moz-linear-gradient(left top , white 0%, white 50%, white 52%, transparent 52%) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(left top , white 0%, white 50%, white 52%, transparent 52%) repeat scroll 0 0 transparent;
	border-color: #333333;
	border-style: solid;
	border-width: 1px 0 0 1px;
	content: "";
	display: block;
	height: 10px;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
	position: absolute;
	top: 100%;
	width: 10px;
	z-index: 9999;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 0;
}

.ui-button[data-tooltip]:hover::after,
.ui-button[data-tooltip]:hover::before {
	opacity: 1;
}
	
.ui-dialog {
	overflow: visible;
}







