div.fc-event:after {
  background: -moz-linear-gradient(center top , rgba(128, 128, 128, 0.9), rgba(50, 50, 50, 0.9)) repeat scroll 0 0 transparent;
  border: 1px solid #333333;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 5px gray, 0 1px 1px rgba(255, 255, 255, 0.6) inset;
  color: rgba(255, 255, 255, 0.9);
  content: attr(class);
  float: left;
  font-size: 10px;
  padding: 0 10px;
  position: relative;
  margin-top: 5px;
  
  /*opacity: 0;*/
  -moz-transition: all 300ms ease-in;
  /*-moz-transform: scale(0.1);*/
}

div.fc-event .ui-resizable-handle:after {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-transform: rotateZ(45deg);
	background: -moz-linear-gradient(left top , rgba(128, 128, 128, 0.9) 20%, rgba(50, 50, 50, 0.9) 50%, transparent 50%) repeat scroll 0 0 transparent;
	border-color: #333333 -moz-use-text-color -moz-use-text-color #333333;
	border-image: none;
	border-style: solid none none solid;
	border-width: 1px medium medium 1px;
	box-shadow: 0 0 5px gray, 1px 1px 1px rgba(255, 255, 255, 0.6) inset;
	color: rgba(255, 255, 255, 0.9);
	content: "";
	display: block;
	height: 20px;
	margin: -5px auto 0;
	width: 20px;
}

div.fc-event {
	
}

div.fc-event:hover {
	
}

div.fc-event:hover:after {
	opacity: 1;
	-moz-transform: scale(1);	
}


#calendarsList div:after {
	background: -moz-linear-gradient(center top , rgba(128, 128, 128, 0.9), rgba(50, 50, 50, 0.9)) repeat scroll 0 0 transparent;
  border: 1px solid #333333;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 5px gray, 0 1px 1px rgba(255, 255, 255, 0.6) inset;
  color: rgba(255, 255, 255, 0.9);
  content: attr(id);
  float: left;
  position: absolute;
  font-size: 10px;
  padding: 0 10px;
  position: relative;
  margin-top: 5px;
  
  opacity: 0;
  -moz-transition: all 300ms ease-in;
  -moz-transform: scale(0.1);
}

#calendarsList div:hover:after {
	opacity: 1;
	-moz-transform: scale(1);	
}