/*
 * FullCalendar Stylesheet
 *
 * Feel free to edit this file to customize the look of FullCalendar.
 * When upgrading to newer versions, please upgrade this file as well,
 * porting over any customizations afterwards.
 *
 * Date:
 *
 */


.fc,
.fc .fc-header,
.fc .fc-content {
	font-size: 1em;
	}

.fc {
	direction: ltr;
	text-align: left;
	}

.fc table {
	border-collapse: collapse;
	border-spacing: 0;
	}

.fc td, .fc th {
	padding: 0;
	vertical-align: top;
	}



/* Header
------------------------------------------------------------------------*/

table.fc-header {
	width: 100%;
	}

.fc-header-left {
	width: 25%;
	}

.fc-header-left table {
	float: left;
	}

.fc-header-center {
	width: 50%;
	text-align: center;
	}

.fc-header-center table {
	margin: 0 auto;
	}

.fc-header-right {
	width: 25%;
	}

.fc-header-right table {
	float: right;
	}

.fc-header-title {
	margin-top: 0;
	white-space: nowrap;
	}

.fc-header-space {
	padding-left: 10px;
	}

/* right-to-left */

.fc-rtl .fc-header-title {
	direction: rtl;
	}



/* Buttons
------------------------------------------------------------------------*/

.fc-header .fc-state-default,
.fc-header .ui-state-default {
	margin-bottom: 1em;
	cursor: pointer;
	}

.fc-header .fc-state-default {
	border-width: 1px 0;
	padding: 0 1px;
	}

.fc-header .fc-state-default,
.fc-header .fc-state-default a {
	border-style: solid;
	}

.fc-header .fc-state-default a {
	display: block;
	border-width: 0 1px;
	margin: 0 -1px;
	width: 100%;
	text-decoration: none;
	}

.fc-header .fc-state-default span {
	display: block;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	padding: 3px 5px;
	}

.fc-header .ui-state-default {
	padding: 4px 6px;
	}

.fc-header .fc-state-default span,
.fc-header .ui-state-default span {
	white-space: nowrap;
	}

/* for adjacent buttons */

.fc-header .fc-no-right {
	padding-right: 0;
	}

.fc-header .fc-no-right a {
	margin-right: 0;
	border-right: 0;
	}

.fc-header .ui-no-right {
	border-right: 0;
	}

/* for fake rounded corners */

.fc-header .fc-corner-left {
	margin-left: 1px;
	padding-left: 0;
	}

.fc-header .fc-corner-right {
	margin-right: 1px;
	padding-right: 0;
	}

/* DEFAULT button COLORS */

.fc-header .fc-state-default,
.fc-header .fc-state-default a {
	border-color: #777; /* outer border */
	color: #333;
	}

.fc-header .fc-state-default span {
	border-color: #fff #fff #d1d1d1; /* inner border */
	background: #e8e8e8;
	}

/* PRESSED button COLORS (down and active) */

.fc-header .fc-state-active a {
	color: #fff;
	}

.fc-header .fc-state-down span,
.fc-header .fc-state-active span {
	background: #888;
	border-color: #808080 #808080 #909090; /* inner border */
	}

/* DISABLED button COLORS */

.fc-header .fc-state-disabled a {
	color: #999;
	}

.fc-header .fc-state-disabled,
.fc-header .fc-state-disabled a {
	border-color: #ccc; /* outer border */
	}

.fc-header .fc-state-disabled span {
	border-color: #fff #fff #f0f0f0; /* inner border */
	background: #f0f0f0;
	}



/* Content Area & Global Cell Styles
------------------------------------------------------------------------*/

.fc-widget-content {
	border: 1px solid #ccc; /* outer border color */
	}

.fc-content {
	clear: both;
	}

.fc-content .fc-state-default {
	border-style: solid;
	border-color: #ccc; /* inner border color */
	}

.fc-content .fc-state-highlight { /* today */
	background: #ffc;
	}

.fc-content .fc-not-today {
	background: none;
	}

.fc-cell-overlay { /* semi-transparent rectangle while dragging */
	background: #9cf;
	opacity: .2;
	filter: alpha(opacity=20); /* for IE */
	}

.fc-view { /* prevents dragging outside of widget */
	width: 100%;
	overflow: hidden;
	}
	
.fc-view-month div div.fc-event {
	max-height: 20px;
	overflow: hidden;
}



/* Global Event Styles
------------------------------------------------------------------------*/
.cal-0 {background: -webkit-gradient(linear, left top, left bottom, from(#B4C7EA), to(#2B67D5)); background: -moz-linear-gradient(top, #B4C7EA, #2B67D5);background: -ms-linear-gradient(top, #B4C7EA, #2B67D5);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#B4C7EA", EndColorStr="#2B67D5");}
.fc-event,
.fc-agenda .fc-event-time,
.fc-event a, .fc-event a:hover {
	border-style: solid;
	border-color: #36c;     /* default BORDER color (probably the same as background-color) */
	background-color: #36c; /* default BACKGROUND color */
	color: #fff;            /* default TEXT color */
	font: normal 12px/20px verdana;
	}

	/* Use the 'className' CalEvent property and the following
	 * example CSS to change event color on a per-event basis:
	 *
	 * .myclass,
	 * .fc-agenda .myclass .fc-event-time,
	 * .myclass a {
	 *     background-color: black;
	 *     border-color: black;
	 *     color: red;
	 *     }
	 */

.fc-event {
	text-align: left;
	-moz-box-shadow: 0 0 3px black;
	-webkit-box-shadow: 0 0 5px black;
	box-shadow: 0 0 3px black;
	}

.fc-event a, .fc-event a:hover {
	overflow: hidden;
	font-size: .85em;
	text-decoration: none;
	cursor: pointer;
	}

.fc-event a:hover .fc-event-time {
	background: -webkit-gradient(linear, left top, left bottom, from(#B4C7EA), to(#2B67D5));
	background: -moz-linear-gradient(top, #B4C7EA, #2B67D5);
	background: -ms-linear-gradient(top, #B4C7EA, #2B67D5);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#B4C7EA", EndColorStr="#2B67D5");
}

.fc-event a:hover .fc-event-time img.eventRemove {
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#95B1E5", EndColorStr="#4A7CD9") progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.fc-event a:hover .fc-event-time img.eventRemove:hover {
	filter: none;
}

.fc-event-user {
	float: left;
	font-size: 9px;
}

.fc-event-time{
	background: -webkit-gradient(linear, left top, left bottom, from(#B4C7EA), to(#2456B5));
	background: -moz-linear-gradient(top, #B4C7EA, #2456B5);
	background: -ms-linear-gradient(top, #B4C7EA, #2456B5);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#B4C7EA", EndColorStr="#2456B5");
	}

.fc-event-new {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.fc-event-new, .fc-event-new a, .fc-event-new a:hover, .fc-event-new a:hover .fc-event-time,
.fc-event-new a:hover .fc-event-time img.eventRemove, .fc-event-new a .fc-event-time img.eventRemove,
.fc-event-new .fc-event-time, .fc-event-new.fc-event-allDay,
.fc-event-new.fc-event-allDay a .fc-event-desc, .fc-event-new.fc-event-allDay a {
	background: dodgerBlue !important;
	border-color: dodgerBlue !important;
	filter: none !important;
}
.fc-event a:hover .fc-event-time img.eventRemove {
	filter: none;
}

.fc-event-new .fc-event-time, .fc-event-new:hover, .fc-event-new:hover .fc-event-time {
	background: dodgerBlue !important;
	filter: none !important;
}
/*
.fc-event-allDay, .fc-event-allDay a, .fc-event-allDay a:hover {
	border-color: #28774D;
}

.fc-event-allDay .fc-event-title {
	background: -moz-linear-gradient(top, #B4EAC4, #30905C);
	display: block;
}
*/

.fc-event-allDay { height: 20px; }
.fc-event-allDay a span.fc-event-title, .fc-event-allDay a span.fc-event-owner, .fc-event-allDay a span.fc-event-place, .fc-event-allDay a span.fc-event-user {
	width: 100%;
	float: left;
}

.fc-event-editable {
	cursor: pointer;
	}
	
.fc-event-non-editable {
	opacity: 0.9;
	-moz-box-shadow: none;
	box-shadow: none;
}

.fc-event-time,
.fc-event-title,
.fc-event-desc,
.fc-event-place {
	padding: 0 1px;
}

.fc-event-owner, .fc-event-desc, .fc-event-place {
	padding-right: 2px;
	clear: both;
	margin: 5px 0;
	line-height: 12px;
}

/* for fake rounded corners */

.fc-event a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	}
	
.fc-event a.dontClick {
	cursor: default;
}

/* right-to-left */

.fc-rtl .fc-event a {
	text-align: right;
	}

/* resizable */

.fc .ui-resizable-handle {
	display: block;
	position: absolute;
	z-index: 99999;
	border: 0 !important; /* important overrides pre jquery ui 1.7 styles */
	*background: url(data:image/gif;base64,AAAA) !important; /* hover fix for IE */
	}



/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
	}

.fc-event-hori a {
	border-width: 0;
	}

/* for fake rounded corners */

.fc-content .fc-corner-left {
	margin-left: 1px;
	}

.fc-content .fc-corner-left a {
	margin-left: -1px;
	border-left-width: 1px;
	}

.fc-content .fc-corner-right {
	margin-right: 1px;
	}

.fc-content .fc-corner-right a {
	margin-right: -1px;
	border-right-width: 1px;
	}

/* resizable */

.fc-event-hori .ui-resizable-e {
	top: 0           !important; /* importants override pre jquery ui 1.7 styles */
	right: -3px      !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: e-resize;
	}

.fc-event-hori .ui-resizable-w {
	top: 0           !important;
	left: -3px       !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: w-resize;
	}

.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px; /* IE6 had 0 height */
	}
	
.fc-event-vert span.fc-event-title {
	display: none;
}
/* my colours */
/*

.fc-event-X, .fc-event-X a, .fc-event-X a:hover {background-color: #BASE; border-color: #BOTTOM;}
.cal-X, .fc-event-X a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#TOP), to(#BOTTOM)); background: -moz-linear-gradient(top, #TOP, #BOTTOM); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#TOP", EndColorStr="#BOTTOM");}
.fc-event-X a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#TOP), to(#HIGH)); background: -moz-linear-gradient(top, #TOP, #HIGH); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#TOP", EndColorStr="#HIGH");}

*/

.fc-event-1, .fc-event-1 a, .fc-event-1 a:hover {background-color: #ab3a3a; border-color: #8d3c3c;} 
.cal-1, .fc-event-1 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#c24b4b), to(#8d3c3c)); background: -moz-linear-gradient(top, #c24b4b, #8d3c3c); background: -ms-linear-gradient(top, #c24b4b, #8d3c3c); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#c24b4b", EndColorStr="#8d3c3c");}
.fc-event-1 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#c24b4b), to(#a24040)); background: -moz-linear-gradient(top, #c24b4b, #a24040); background: -ms-linear-gradient(top, #c24b4b, #a24040); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#c24b4b", EndColorStr="#a24040");}

.fc-event-2, .fc-event-2 a, .fc-event-2 a:hover {background-color: #3aab3a; border-color: #3c8d3c;}
.cal-2, .fc-event-2 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#4bc24b), to(#3c8d3c)); background: -moz-linear-gradient(top, #4bc24b, #3c8d3c); background: -ms-linear-gradient(top, #4bc24b, #3c8d3c); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4bc24b", EndColorStr="#3c8d3c");}
.fc-event-2 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#4bc24b), to(#40a240)); background: -moz-linear-gradient(top, #4bc24b, #40a240); background: -ms-linear-gradient(top, #4bc24b, #40a240); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4bc24b", EndColorStr="#40a240");}

.fc-event-3, .fc-event-3 a, .fc-event-3 a:hover {background-color: #3a4dab; border-color: #3c4a8d;}
.cal-3, .fc-event-3 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#4b5fc2), to(#3c4a8d)); background: -moz-linear-gradient(top, #4b5fc2, #3c4a8d); background: -ms-linear-gradient(top, #4b5fc2, #3c4a8d); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4b5fc2", EndColorStr="#3c4a8d");}
.fc-event-3 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#4b5fc2), to(#4050a2)); background: -moz-linear-gradient(top, #4b5fc2, #4050a2); background: -ms-linear-gradient(top, #4b5fc2, #4050a2); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4b5fc2", EndColorStr="#4050a2");}

.fc-event-4, .fc-event-4 a, .fc-event-4 a:hover {background-color: #ab723a; border-color: #8d653c;}
.cal-4, .fc-event-4 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#c2874b), to(#8d653c)); background: -moz-linear-gradient(top, #c2874b, #8d653c); background: -ms-linear-gradient(top, #c2874b, #8d653c); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#c2874b", EndColorStr="#8d653c");}
.fc-event-4 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#c2874b), to(#a27140)); background: -moz-linear-gradient(top, #c2874b, #a27140); background: -ms-linear-gradient(top, #c2874b, #a27140); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#c2874b", EndColorStr="#a27140");}

.fc-event-5, .fc-event-5 a, .fc-event-5 a:hover {background-color: #3aab5f; border-color: #3c8d57;}
.cal-5, .fc-event-5 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#4bc273), to(#3c8d57)); background: -moz-linear-gradient(top, #4bc273, #3c8d57); background: -ms-linear-gradient(top, #4bc273, #3c8d57); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4bc273", EndColorStr="#3c8d57");}
.fc-event-5 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#4bc273), to(#40a260)); background: -moz-linear-gradient(top, #4bc273, #40a260); background: -ms-linear-gradient(top, #4bc273, #40a260); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4bc273", EndColorStr="#40a260");}

.fc-event-6, .fc-event-6 a, .fc-event-6 a:hover {background-color: #5f3aab; border-color: #573c8d;}
.cal-6, .fc-event-6 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#734bc2), to(#573c8d)); background: -moz-linear-gradient(top, #734bc2, #573c8d); background: -ms-linear-gradient(top, #734bc2, #573c8d); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#734bc2", EndColorStr="#573c8d");}
.fc-event-6 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#734bc2), to(#6040a2)); background: -moz-linear-gradient(top, #734bc2, #6040a2); background: -ms-linear-gradient(top, #734bc2, #6040a2); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#734bc2", EndColorStr="#6040a2");}

.fc-event-7, .fc-event-7 a, .fc-event-7 a:hover {background-color: #abab3a; border-color: #8d8d3c;}
.cal-7, .fc-event-7 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#c2c24b), to(#8d8d3c)); background: -moz-linear-gradient(top, #c2c24b, #8d8d3c); background: -ms-linear-gradient(top, #c2c24b, #8d8d3c); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#c2c24b", EndColorStr="#8d8d3c");}
.fc-event-7 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#c2c24b), to(#a2a240)); background: -moz-linear-gradient(top, #c2c24b, #a2a240); background: -ms-linear-gradient(top, #c2c24b, #a2a240); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#c2c24b", EndColorStr="#a2a240");}

.fc-event-8, .fc-event-8 a, .fc-event-8 a:hover {background-color: #3aab98; border-color: #3c8d80;}
.cal-8, .fc-event-8 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#4bc2ae), to(#3c8d80)); background: -moz-linear-gradient(top, #4bc2ae, #3c8d80); background: -ms-linear-gradient(top, #4bc2ae, #3c8d80); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4bc2ae", EndColorStr="#3c8d80");}
.fc-event-8 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#4bc2ae), to(#40a292)); background: -moz-linear-gradient(top, #4bc2ae, #40a292); background: -ms-linear-gradient(top, #4bc2ae, #40a292); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4bc2ae", EndColorStr="#40a292");}

.fc-event-9, .fc-event-9 a, .fc-event-9 a:hover {background-color: #983aab; border-color: #803c8d;}
.cal-9, .fc-event-9 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#ae4bc2), to(#803c8d)); background: -moz-linear-gradient(top, #ae4bc2, #803c8d); background: -ms-linear-gradient(top, #ae4bc2, #803c8d); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#ae4bc2", EndColorStr="#803c8d");}
.fc-event-9 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#ae4bc2), to(#9240a2)); background: -moz-linear-gradient(top, #ae4bc2, #9240a2); background: -ms-linear-gradient(top, #ae4bc2, #9240a2); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#ae4bc2", EndColorStr="#9240a2");}

.fc-event-10, .fc-event-10 a, .fc-event-10 a:hover {background-color: #72ab3a; border-color: #658d3c;}
.cal-10, .fc-event-10 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#87c24b), to(#658d3c)); background: -moz-linear-gradient(top, #87c24b, #658d3c); background: -ms-linear-gradient(top, #87c24b, #658d3c); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#87c24b", EndColorStr="#658d3c");}
.fc-event-10 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#87c24b), to(#71a240)); background: -moz-linear-gradient(top, #87c24b, #71a240); background: -ms-linear-gradient(top, #87c24b, #71a240); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#87c24b", EndColorStr="#71a240");}

.fc-event-11, .fc-event-11 a, .fc-event-11 a:hover {background-color: #3a85ab; border-color: #3c728d;}
.cal-11, .fc-event-11 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#4b9ac2), to(#3c728d)); background: -moz-linear-gradient(top, #4b9ac2, #3c728d); background: -ms-linear-gradient(top, #4b9ac2, #3c728d); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4b9ac2", EndColorStr="#3c728d");}
.fc-event-11 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#4b9ac2), to(#4081a2)); background: -moz-linear-gradient(top, #4b9ac2, #4081a2); background: -ms-linear-gradient(top, #4b9ac2, #4081a2); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4b9ac2", EndColorStr="#4081a2");}

.fc-event-12, .fc-event-12 a, .fc-event-12 a:hover {background-color: #ab3a85; border-color: #8d3c72;}
.cal-12, .fc-event-12 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#c24b9a), to(#8d3c72)); background: -moz-linear-gradient(top, #c24b9a, #8d3c72); background: -ms-linear-gradient(top, #c24b9a, #8d3c72); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#c24b9a", EndColorStr="#8d3c72");}
.fc-event-12 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#c24b9a), to(#a24081)); background: -moz-linear-gradient(top, #c24b9a, #a24081); background: -ms-linear-gradient(top, #c24b9a, #a24081); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#c24b9a", EndColorStr="#a24081");}

.fc-event-13, .fc-event-13 a, .fc-event-13 a:hover {background-color: #89B9B0; border-color: #005848;}
.cal-13, .fc-event-13 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#5B8C83), to(#005848)); background: -moz-linear-gradient(top, #5B8C83, #005848); background: -ms-linear-gradient(top, #5B8C83, #005848); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#5B8C83", EndColorStr="#005848");}
.fc-event-13 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#5B8C83), to(#466B65)); background: -moz-linear-gradient(top, #5B8C83, #466B65); background: -ms-linear-gradient(top, #5B8C83, #466B65); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#5B8C83", EndColorStr="#466B65");}

.fc-event-14, .fc-event-14 a, .fc-event-14 a:hover {background-color: #855CC1; border-color: #795DA3;}
.cal-14, .fc-event-14 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#9B72D8), to(#795DA3)); background: -moz-linear-gradient(top, #9B72D8, #795DA3); background: -ms-linear-gradient(top, #9B72D8, #795DA3); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#9B72D8", EndColorStr="#795DA3");}
.fc-event-14 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#9B72D8), to(#8461B8)); background: -moz-linear-gradient(top, #9B72D8, #8461B8); background: -ms-linear-gradient(top, #9B72D8, #8461B8); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#9B72D8", EndColorStr="#8461B8");}

.fc-event-15, .fc-event-15 a, .fc-event-15 a:hover {background-color: #C15D5D; border-color: #A35E5E;}
.cal-15, .fc-event-15 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#D87474), to(#A35E5E)); background: -moz-linear-gradient(top, #D87474, #A35E5E); background: -ms-linear-gradient(top, #D87474, #A35E5E); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#D87474", EndColorStr="#A35E5E");}
.fc-event-15 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#D87474), to(#C15D5D)); background: -moz-linear-gradient(top, #D87474, #C15D5D); background: -ms-linear-gradient(top, #D87474, #C15D5D); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#D87474", EndColorStr="#C15D5D");}

.fc-event-16, .fc-event-16 a, .fc-event-16 a:hover {background-color: #C1C132; border-color: #A3A339;}
.cal-16, .fc-event-16 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#D8D843), to(#A3A339)); background: -moz-linear-gradient(top, #D8D843, #A3A339); background: -ms-linear-gradient(top, #D8D843, #A3A339); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#D8D843", EndColorStr="#A3A339");}
.fc-event-16 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#D8D843), to(#B8B83A)); background: -moz-linear-gradient(top, #D8D843, #B8B83A); background: -ms-linear-gradient(top, #D8D843, #B8B83A); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#D8D843", EndColorStr="#B8B83A");}

.fc-event-17, .fc-event-17 a, .fc-event-17 a:hover {background-color: #3E647B; border-color: #384F5D;}
.cal-17, .fc-event-17 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#527A92), to(#384F5D)); background: -moz-linear-gradient(top, #527A92, #384F5D); background: -ms-linear-gradient(top, #527A92, #384F5D); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#527A92", EndColorStr="#384F5D");}
.fc-event-17 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#527A92), to(#405F72)); background: -moz-linear-gradient(top, #527A92, #405F72); background: -ms-linear-gradient(top, #527A92, #405F72); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#527A92", EndColorStr="#405F72");}

.fc-event-18, .fc-event-18 a, .fc-event-18 a:hover {background-color: #724071; border-color: #540053;}
.cal-18, .fc-event-18 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#895489), to(#540053)); background: -moz-linear-gradient(top, #895489, #540053); background: -ms-linear-gradient(top, #895489, #540053); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#895489", EndColorStr="#540053");}
.fc-event-18 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#895489), to(#694169)); background: -moz-linear-gradient(top, #895489, #694169); background: -ms-linear-gradient(top, #895489, #694169); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#895489", EndColorStr="#694169");}

.fc-event-19, .fc-event-19 a, .fc-event-19 a:hover {background-color: #5A1616; border-color: #3C1414;}
.cal-19, .fc-event-19 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#712222), to(#3C1414)); background: -moz-linear-gradient(top, #712222, #3C1414); background: -ms-linear-gradient(top, #712222, #3C1414); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#712222", EndColorStr="#3C1414");}
.fc-event-19 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#712222), to(#511818)); background: -moz-linear-gradient(top, #712222, #511818); background: -ms-linear-gradient(top, #712222, #511818); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#712222", EndColorStr="#511818");}

.fc-event-20, .fc-event-20 a, .fc-event-20 a:hover {background-color: #0EA5A7; border-color: #188889;}
.cal-20, .fc-event-20 a .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#1ABCBE), to(#188889)); background: -moz-linear-gradient(top, #1ABCBE, #188889); background: -ms-linear-gradient(top, #1ABCBE, #188889); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#1ABCBE", EndColorStr="#188889");}
.fc-event-20 a:hover .fc-event-time {background: -webkit-gradient(linear, left top, left bottom, from(#1ABCBE), to(#169C9E)); background: -moz-linear-gradient(top, #1ABCBE, #169C9E); background: -ms-linear-gradient(top, #1ABCBE, #169C9E); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#1ABCBE", EndColorStr="#169C9E");}



























