* {
	margin: 0;
	padding: 0;
}

body {
	font: 71%/1.5 Verdana, Sans-Serif;
}

#container {
	margin: 100px auto;
	width: 688px;
}

#write {
	margin: 0 0 5px;
	padding: 5px;
	width: 671px;
	height: 200px;
	font: 1em/1.5 Verdana, Sans-Serif;
	background: #fff;
	border: 1px solid #f9f9f9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
}

#keyboard li {
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	border: 1px solid #f9f9f9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	border-color: gray;
}

.capslock,.tab,.left-shift {
	clear: left;
}

#keyboard .tab,#keyboard .delete {
	width: 70px;
}

#keyboard .capslock {
	width: 80px;
}

#keyboard .return {
	width: 77px;
}

#keyboard .left-shift {
	width: 95px;
}

#keyboard .rightright-shift {
	width: 109px;
}

#keyboard .right-shift {
	width: 109px;
}

.lastitem {
	margin-right: 0;
}

.uppercase {
	text-transform: uppercase;
}

#keyboard .left-control,
#keyboard .right-control {
	width: 60px;
}

#keyboard .left-control {
	margin-right: 65px;
}

#keyboard .left-alt,
#keyboard .right-alt {
	width: 60px;
}

#keyboard .right-alt {
	margin-right: 65px;
}

#keyboard .space {
	width: 293px;
}

.on {
	display: none;
}

.letter .polish {
	background: inherit;
	float: left;
	height: 100%;
	margin-bottom: -100%;
	position: relative;
	width: 100%;
}

#keyboard li:hover {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #e5e5e5;
	cursor: pointer;
}
