.sp-column {
	float: left;
	width: 300px;
	margin-left: 20px;
	margin-top: 30px;
	min-height: 500px;
}

.sp-portlet {
	width: 298px;
	margin-bottom: 20px;
	background: white;
	border-width: 1px;
	border-style: solid;
	/*border: 1px solid #d5e1ff;*/
	border-radius: 10px;
	font-family: tahoma;
	font-size: 14px;
	-moz-transition-property: opacity, -moz-transform;
	-moz-transition-duration: 200ms;
	-moz-transition-timing-function: ease-in;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-duration: 200ms;
	-webkit-transition-timing-function: ease-in;
	
}

.sp-portlet-header {
	height: 30px;
	line-height: 29px;
	border-radius: 10px;
	/*background: #2e4a9b;*/
	color: #f4fcff;
	text-indent: 20px;
	cursor: -moz-grab;
}

.sp-portlet-header:active {
	cursor: -moz-grabbing;
}

.sp-portlet-header:hover .sp-portlet-remove {
	opacity: 1;
}

.sp-portlet-remove {
	/* background-image: url("close_mini.gif"); w main.css */
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 100%;
	width: 30px;
	opacity: 0;
	-moz-transition: opacity 200ms ease-out 0s;
	-webkit-transition: opacity 200ms ease-out;
}

.sp-portlet-content-std {
	margin: 10px;
	color: #232323;
	cursor: pointer;
	/*background-color: lightgreen;*/
}

.sp-portlet-content-std:hover .sp-portlet-content-summary-desc {
	text-decoration: underline;
}

.sp-portlet-content-less-important {
	color: #777;
}

.sp-portlet-content-summary {
	font-family: arial;
	font-size: 36px;
	line-height: 36px;
	overflow: hidden;
}

.sp-portlet-content-summary div {
	text-align: center;
	float: left;
}

.sp-portlet-content-summary-new, 
.sp-portlet-content-summary-new-comment {
	width: 40px;
}

.sp-portlet-content-summary-divisor,
.sp-portlet-content-summary-divisor-comment {
	width: 30px;
}

.sp-portlet-content-summary-all,
.sp-portlet-content-summary-all-comment {
	width: 60px;
}

.sp-portlet-content-summary-new-comment,
.sp-portlet-content-summary-divisor-comment,
.sp-portlet-content-summary-all-comment {
	height: 20px;
	line-height: 12px;
	font-family: tahoma;
	font-size: 12px;
}

.sp-portlet-content-summary-desc {
	line-height: 16px;
	padding-top: 17px;
	margin-left: 10px;
	font-size: 16px;
	font-family: tahoma;
}

.sp-portlet-content-item {
	overflow: hidden;
	margin-bottom: 6px;
}

.sp-portlet-content-item div {
	float: left;
	font-family: arial;
	font-size: 18px;
}

.sp-portlet-content-item .sp-portlet-content-summary-new {
	text-align: right;
}

.sp-portlet-content-item .sp-portlet-content-summary-divisor {
	text-align: center;
}

.sp-portlet-content-item .sp-portlet-content-summary-desc {
	line-height: normal;
	padding: 0;
	font-family: tahoma;
	font-size: 16px;
	max-width: 130px;
}

.sp-portlet-special-add {
	height: 140px;
	border-style: dashed;
	opacity: 0.5;
	-moz-transition-property: opacity, -moz-transform;
	-webkit-transition-property: opacity, -webkit-transform;
}

.sp-portlet-special-add:hover {
	opacity: 1;
}

.sp-portlet-special-add:active .sp-portlet-special-add-background {
	background-color: #004685;
}

#sp-portlet-add-image {
	display: block;
	margin: 20px auto 0 auto;
	background-color: #dce9ff;
	cursor: pointer;
}

.sp-portlet-special-add-background {
	width: 100px;
	height: 100px;
	margin: 20px auto 0 auto;
	/*background-color: #dce9ff;*/
	-moz-transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
}

.sp-portlet-special-add-foreground {
	width: 100px;
	height: 100px;
	margin: -100px auto 0 auto;
	/* background-image: url('../portlet-add.png'); w main.css */
	background-repeat: no-repeat;
	cursor: pointer;
}

.sp-portlet-thumbnail {
	float: left;
	width: 198px;
	margin-right: 20px;
	cursor: pointer;
	opacity: 0.6;
	-moz-transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	margin: 10px;
}

.sp-portlet-thumbnail:hover {
	opacity: 1;
}

.sp-portlet-thumbnail .sp-portlet-content div {
	display: none;
}

.sp-portlet-thumbnail .sp-portlet-content .sp-portlet-content-summary,
.sp-portlet-thumbnail .sp-portlet-content .sp-portlet-content-summary-new,
.sp-portlet-thumbnail .sp-portlet-content .sp-portlet-content-summary-divisor,
.sp-portlet-thumbnail .sp-portlet-content .sp-portlet-content-summary-all {
	display: block;
}

.sp-portlet-thumbnail .sp-portlet-header {
	cursor: pointer;
}

.sp-portlet-thumbnail .sp-portlet-header .sp-portlet-remove {
	display: none;
}

.sp-portlet-animation {
	/*-moz-transition: all*/
}

.sp-portlet-minimized {
	-moz-transform: scale(0.1);
	-webkit-transform: scale(0.1);
	opacity: 0;
}

.sp-portlet-grabbing {
	cursor: -moz-grabbing;
}

.sp-portlet-dialog {
	min-height: 110px !important;
}

.sp-portlet-dialog .ui-dialog-titlebar {
	display: none;
}

.ui-sortable-placeholder { 
	/*border: 1px dashed #D5E1FF;*/
	visibility: visible !important; 
	/*background-color: #D5E1FF !important;*/
	/*height: 20px !important; */
}

.sp-portlet-cal {
	height: 400px;
}

.sp-portlet-content-cal {
	clip: rect(12px, 315px, 358px, 32px);
	height: 400px;
	margin-left: -24px;
	margin-top: 0;
	position: absolute;
	width: 278px;
}

#sp-calendar-iframe {
	width: 1000px;
	height: 400px;	
	border: none;
	
}

#sp-calendar-iframe #calendar {
	
}

.sp-portlet-thumbnail iframe {
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	margin-left: -420px;
	margin-top: -100px;
	width: 1600px !important;
}

.sp-portlet-cal.sp-portlet-thumbnail {
	height: 86px;
}

.sp-portlet-thumbnail .sp-portlet-content-cal {
	clip: rect(37px, 216px, 84px, 30px);
	height: 86px;
	margin-top: -33px;
}

.sp-portlet-calendar-overlay {
	display: none;
}

.sp-portlet-thumbnail .sp-portlet-calendar-overlay  {
	background: none;
	border-radius: 10px 10px 10px 10px;
	display: block !important;
	height: 55px;
	margin-top: 1px;
	width: 198px;
	z-index: 9999;
	position: relative;
}

.sp-portlet-content-nameday-title {
	color: #777777;
	font-family: tahoma;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 7px;
}

.sp-portlet-content-nameday {
	cursor: default;
}

.sp-portlet-content-nameday-single {
	float: left;
	font-family: arial;
	font-size: 36px;
	line-height: 46px;
	margin-right: 10px;
}

.sp-portlet-thumbnail .sp-portlet-content-nameday-single {
	display: block !important;
	font-size: 14px;
	line-height: 14px;
	margin: 0 4px 7px 0;
	cursor: pointer;
}

.sp-portlet-thumbnail .sp-portlet-content-nameday {
	height: 36px;
	cursor: pointer;
}

.sp-portlet-content-weather {
	cursor: default;
}

.weatherItem {
	background-repeat: no-repeat;
	text-align: right;
	-moz-transition: all 200ms ease-in;
}

.weatherItemNoBack {
	background: none;	
}

.weatherCitySelector {
	width: 200px !important;
	height: 32px;
	font-size: 26px;
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	text-align: right;
	color: #777;
	float: right;
}

.weatherCitySelector option {
	font-size: 14px;
	padding-right: 10px;	
}


.weatherTemp {
	font-size: 56px;
	line-height: 60px;
	font-family: arial;
	float: right;
	clear: right;
	margin-top: 20px;
}

.weatherRange {
	float: left;
	text-align: left;
	float: right;
	padding-top: 8px;
	font-size: 16px;
	fonat-family: arial;
	margin-right: 20px;
	display: none;
}

.weatherWind {
	float: left;
	text-align: center;
	margin-top: -10px;
}

.weatherWindSpeed {
	color: #777;
	font-size: 36px;
	line-height: 36px;
	font-family: arial;
	float: left;
}

.weatherWindSpeedUnit {
	float: left;
	font-family: tahoma;
	font-size: 18px;
	/*line-height: 48px;*/
	color: #777;
}

.weatherWindDirection {
	float: left;
	font-size: 40px;
	margin-left: 10px;
	margin-top: -6px;
}

.forecastSwitcher {
	float: right;
	clear: right;
}

.forecastSwitcher a, .forecastSwitcher a:hover {
	font-family: tahoma;
	font-size: 14px;
	font-weight: normal;
	text-shadow: none;
	padding: 5px;
	float: left;
}

.forecastSelected {
	color: #777 !important;
}

#ajax-anim-container {
	float: right;
    height: 30px;
	display: none;
}

.ajax-loading-message {
	color: white;
	float: left;
	font-family: arial;
	height: 30px;
	line-height: 30px;
	margin-right: 5px;
	font-size: 11px;
	opacity: 0.7;
}

.circle{
	/*background-color:#CCC;*/
	float:left;
	margin-top: 8px;
	height:14px;
	margin-left:8px;
	width:6px;
	-webkit-animation-name: bounce_circle;
 	-webkit-animation-duration: 1.5s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-direction: linear;
	
	-moz-animation-name: bounce_circle;
 	-moz-animation-duration: 1.5s;
 	-moz-animation-iteration-count: infinite;
 	-moz-animation-direction: linear;
	
	opacity:0.3;
}
#circle_1{
 	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
 }
#circle_2{
 	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
}
#circle_3{
 	-webkit-animation-delay: .9s;
	-moz-animation-delay: .9s;
}
@-webkit-keyframes bounce_circle{
	0%{opacity:0.3;}
	50%{opacity:1;background-color:white}
	100%{opacity:0.3;}
}

@-moz-keyframes bounce_circle{
	0%{opacity:0.3;}
	50%{opacity:1;background-color:white}
	100%{opacity:0.3;}
}

.geolocationSwitcher {
	text-align: left;
}

.sp-portlet-thumbnail .sp-portlet-content-weather {
	cursor: pointer;
}

.sp-portlet-thumbnail .weatherItem {
	display: block !important;
	height: 36px;
	background-size: contain;
}

.sp-portlet-thumbnail .weatherItem select {
	display: none;
}

.sp-portlet-thumbnail #ajax-anim-container {
	display: none !important;
}

.sp-portlet-thumbnail .weatherTemp {
	display: block !important;
	font-size: 32px;
	line-height: 56px;
	margin-top: -10px;
}
