html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-size: 5em;
	font-family: "Segoe UI";
	background: white;
	overflow: hidden;
}

.ui-dialog .ui-dialog-title {
    text-align: center;
    width: 100%;
    font-size: 1.25em;
}

input {
	font-size: 1em;
}

html:-moz-full-screen button#fullscreen-button {
	display: none;
}

.ds-logo {
	background-repeat: no-repeat;
	background-position: center 40%;
}

.ajax-loader-big {
	background-repeat: no-repeat;
	background-position: center;
}

#fullscreen-button {
	font-size: 0.4em;
	margin-top: 10mm;
	position: absolute;
	right: 0;
	margin-right: 15mm;
	width: 70mm;
	padding: 2mm 0;
	z-index: 1000;
}

#fullscreen-button:hover {
	margin-top: 13mm;
}

button, button:active {
	font-size: 1em;
  	background: none repeat scroll 0 0 #644390;
  	border-color: #3F4087 #313269 #1E1F42;
  	border-radius: 1.5mm;
  	border-style: solid;
  	border-width: 0.5mm;
  	box-shadow: 0 0.5mm 5mm 0.5mm #B277FF inset, 0 0.5mm 0 #1F204E, 0 3mm 0 #563A7B, 0 4mm 2mm 0.5mm #111111;
  	color: #EBEBF5;
  	text-align: center;
  	text-shadow: 0 -0.5mm 0.5mm #1E2D4D;
  	margin-top: -3mm;
  	transition: all 300ms ease;
}

button:disabled, button:disabled:hover {
	background: none repeat scroll 0 0 #909090 !important;
	border-color: #878787 #696969 #696969 !important;
	box-shadow: 0 0.5mm 5mm 0.5mm #FFFFFF inset, 0 0.5mm 0 #4E4E4E, 0 3mm 0 #7B7B7B, 0 4mm 2mm 0.5mm #111111 !important;
	color: #aaa !important;
	text-shadow: none !important;
	box-shadow: none !important;
	margin-top: 0;
}

button:hover {
	box-shadow: 0 0.5mm 5mm 0.5mm #B277FF inset, 0 0.5mm 0 #1F204E, 0 1mm 0 #563A7B, 0 2mm 2mm 0.5mm #111111;
	margin-top: -1mm;
}

h1 {
	font-size: 1em;
	line-height: 2em;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#container-lastname {
	margin: 0 auto;
	text-align: center;
	width: 370mm;
}

#clear-lastname-button {
	float: left;
	font-size: 1.2em;
	line-height: 1;
	padding: 0 5mm 2mm 5mm;
	margin-top: -1mm;
	margin-right: 5mm;
	
	background: none repeat scroll 0 0 #8F4344;
    border-color: #874041 #693132 #421E1E;
    box-shadow: 0 0.5mm 5mm 0.5mm #FF787A inset, 0 0.5mm 0 #4F2020, 0 3mm 0 #7A3A3B, 0 4mm 2mm 0.5mm #121212;
}

#clear-lastname-button:hover {
	box-shadow: 0 0.5mm 5mm 0.5mm #FF787A inset, 0 0.5mm 0 #4F2020, 0 1mm 0 #7A3A3B, 0 2mm 2mm 0.5mm #121212;
	margin-top: 1mm;
}

#clear-lastname-button:disabled {
	margin-top: 2mm;
}

#begin-button {
	float: left;
	height: 30mm;
	padding: 0 9mm;
	margin-left: 10mm;
}

#begin-button:active {
	
}

.remove-button {
	
}

#lastname {
	float: left;
	border: 1mm solid gray;
	height: 30mm;
	line-height: 30mm;
	text-indent: 5mm;
	width: 270mm;
}

#lastname:-moz-placeholder {
	color: lightgray;
}

#step1, #step2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

#step1 {
	z-index: 100;
}

#step2 {
	z-index: 90;
}

.hidden-step1 {
	opacity: 0;
	display: none;
}

#step2 h1 {
	padding-bottom: 0;
}

#restart {
	float: left;
	font-size: 0.4em;
	margin-left: 15mm;
	margin-right: -75mm;
	margin-top: 10mm;
	width: 60mm;
	padding: 2mm 0;
}

#restart:hover {
	margin-top: 12mm;
}

.document-reception {
	text-align: center;
	font-size: 0.2em;
	font-family: verdana;
	table-layout: fixed;
}

.ordinal-th {
	width: 3%;
}

.barcode-th {
	width: 18%;
}

.type-th {
	width: 4%;
}

.sender-th {
	width: 30%;
}

.recipient-th {
	width: 30%;
}

.date-th {
	width: 5%;
}

.remove-th {
	width: 10%;
}

.document-reception caption {

}

.document-reception th {
	border-bottom: 0.1em solid #644390;
	color: #644390;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 2.5;
}

.document-reception td {
	padding: 1mm;
}

.document-reception tr:nth-child(even) td {
	background-color: #CACAE6;
}

.document-reception .no-barcodes-present {
    line-height: 6;
}

.document-reception tfoot a {
    background-color: #644390;
	color: white;
	display: inline-block;
	font-size: 30mm;
	height: 20mm;
	line-height: 19mm;
	text-decoration: none;
	width: 20mm;
	margin: 0 5mm;
}

.document-reception tfoot a.disabled {
	opacity: 0.3;
}

.document-reception tfoot select {
	display: inline-block;
	font-size: 3em;
	height: 20mm;
	vertical-align: top;
	border: none;
	padding: 0 10mm;
	text-align: center;
	color: #644390;
}

.document-reception tfoot select option {
	padding: 0 5mm;
}

#signature-container {
	position: absolute;
	bottom: 5mm;
	width: 100%;
}

#clear-button {
	height: 70mm;
	overflow: hidden;
	position: absolute;
	left: 5mm;
	width: 20mm;
}

#clear-button span {
	bottom: -12mm;
	display: block;
	font-size: 0.5em;
	left: 0;
	position: relative;
	transform: rotate(-90deg);
}

#canvas {
	border: 0.5mm solid #563A7B;
	margin-left: 30mm;
}

div.empty-canvas:before {
	content: "Miejsce na podpis";
	height: 260px;
	left: 0;
	margin-left: 30mm;
	position: absolute;
	width: 1280px;
	line-height: 260px;
	text-align: center;
	z-index: -1;
	color: gray;
}


#confirm-button {
	float: right;
	font-size: 0.8em;
	height: 70mm;
	margin-right: 5mm;
	width: 110mm;
}


/* virtual keyboard */

#write {
	position: absolute;
	left: -1000mm;
}

#container {
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -164mm;
	overflow: hidden;
	position: absolute;
	width: 331mm;
}

#keyboard {
	font-size: 7mm;
	font-family: "Segoe UI";
}

#keyboard li {
	border-color: gray;
	width: 20mm;
	height: 20mm;
	margin: 0 2mm 2mm 0;
	line-height: 18mm; 
	transition: all 200ms ease;
	box-shadow: -1mm -1mm 1mm lightgray inset;
}


#keyboard li:hover {
	border-color: #644390;
	position: inherit;
	left: inherit;
	top: inherit;
}

#keyboard li:active {
	background-color: #644390;
	border-color: #111111;
	box-shadow: 1mm 1mm 1mm #333333 inset;
	color: white;
}

#keyboard .tab, #keyboard .delete {
	width: 35mm;
}


#keyboard .capslock {
	width: 40mm;
}


#keyboard .return {
	width: 37.5mm;
}


#keyboard .left-shift {
	width: 46.5mm;
}

#keyboard .right-shift {
	width: 53.5mm;
}

#keyboard .left-control,
#keyboard .right-control {
	width: 30mm;
}

#keyboard .left-control {
	margin-right: 32.5mm;
}

#keyboard .left-alt,
#keyboard .right-alt {
	width: 30mm;
}

#keyboard .right-alt {
	margin-right: 32.5mm;
}


#keyboard .space {
	width: 136.7mm;
}

#keyboard .left-control,
#keyboard .left-alt,
#keyboard .space,
#keyboard .right-alt,
#keyboard .right-control {
	display: none;
}

/* jquery ui */
.ui-widget-overlay {
	background: rgba(0,0,0,0.8);
}

.ui-widget {

}

.ui-autocomplete {
	max-height: 4.8em;
    overflow-y: hidden;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    margin-right: 1em;
}
.ui-autocomplete::-webkit-scrollbar {
    width: 1em;
}

.ui-autocomplete::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.ui-autocomplete::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.ui-menu {
    margin-right: 1em;
}

.ui-menu-item {
    margin-right: 1em;
}

.ui-autocomplete li a {
	font-size: 0.5em;
}

.ui-dialog {
	font-size: 0.5em;
	background: white;
}

.ui-dialog-titlebar {
	background: #563A7B;
	color: white;
}

.ui-dialog .ui-dialog-content {
	padding: 10mm;
}

.ui-dialog .ui-dialog-buttonpane {
	padding: 3mm 5mm;
}

.ui-dialog .ui-dialog-buttonpane button {
	float: right;
	margin-right: 0;
}

.ui-dialog .ui-dialog-buttonpane button:hover {
	margin-top: 7mm;
	margin-bottom: -2mm;
}
.ui-dialog .ui-dialog-buttonpane button:first-child {
	float: left;
}